@media print {
    #orde p>span {
        font-size: 24px;
        font-family: '黑体'
    }
    #orde p .lines {
        text-decoration: underline;
    }
    #orde .ident {
        text-indent: 32px
    }
    #orde .conss {
        font-size: 16px;
        font-family: '宋体'
    }
}