html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    min-width: 1024px;
    font-size: 14px;
    font-family: PingFang SC, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
    background-color: #f1f4f6;
    -webkit-font-smoothing: antialiased;
}

img {
    border: 0;
}

ul {
    padding: 0;
    list-style: none;
}

dl, dd, p, ul, body {
    margin: 0;
}

input {
    outline: none;
    font-family: "Microsoft YaHei", Arial, Verdana;
}

button, textarea, select {
    font-family: "Microsoft YaHei", Arial, Verdana;
}

a {
    color: #999;
    text-decoration: none;
}



.dn {
    display: none;
}

::selection {
    background: #02a0e9;
    color: white; /* Safari */
}

::-moz-selection {
    background: #02a0e9;
    color: white; /* Firefox */
}

#header_box {
    width: 100%;
}

#header {
    width: 100%;
    height: 60px;
    text-align: center;
    position: relative;
    background-color: #fafafa;
    /*background: url("../img/daohang_bg.png") no-repeat center/cover;*/
    z-index: 9;
    border-bottom: 1px solid rgb(204, 204, 204);
    box-shadow: rgb(204, 204, 204) 0 0 6px 0;
}

/*#header a,#header span{*/
/*color: #fff;*/
/*}*/

/*#winter{*/
/*display: block;*/
/*height: 60px;*/
/*}*/
#header:after {
    clear: both;
}

#header_content {
    width: 1024px;
    height: 60px;
    margin: auto;
    position: relative;
}

#header .home_logo {
    width: 140px;
    height: 52px;
    width: 160px \9;
    margin-top: 3px;
    float: left;
    background-image: url("../img/new_logo_2.png");
    background-repeat: no-repeat;
    /*background: url("../img/reg_whitelogo.png") no-repeat center;*/

    background-size: contain;
}

#header .home_logo h1 {
    text-indent: -9999px;
}

#header .header_href {
    display: inline-block;
    height: 100%;
}

#item_box {
    display: inline-block;
    font-size: 18px;
    padding-right: 240px;
}

#item_box li {
    float: left;
    color: #999;
    line-height: 60px;
    margin: 0 20px;
    cursor: pointer;
}

#item_box li:hover a {
    color: #02a0e9;
}

#header .active {
    box-shadow: 0 3px 0 0 #02a0e9 inset;
    color: #02a0e9;
}

/*#item_box li:hover a{*/
/*color: #5b0009;*/
/*}*/
/*#header .active a{*/
/*color: #5b0009;*/
/*box-shadow: 0 3px 0 0 #5b0009 inset;*/
/*}*/

.user-enter {
    border: 1px solid #02a0e9;
    position: absolute;
    padding: 3px 10px;
    color: #999;
    top: 17px;
    cursor: pointer;
    font-size: 12px;
}

#company_enter {
    right: 80px;
}

#student_enter {
    right: 0;
}

.user-enter:hover {
    background-color: #02a0e9;
    color: #fff;
}

.user-enter:hover a {
    color: #fff;
}

#login_icon {
    width: 25px;
    position: absolute;
    right: 0px;
    top: 21px;
    cursor: pointer;
}

#tourist {
    width: 140px;
    background: #fafafa;
    padding-left: 10px;
    position: absolute;
    top: 60px;
    right: 0;
    text-align: center;
    /*height: 70px;*/
    display: none;
    padding: 25px 8px;
    /*overflow: hidden;*/
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 1px 1px 1px rgb(204, 204, 204);
    -webkit-box-shadow: 1px 1px 1px rgb(204, 204, 204);
    -moz-box-shadow: 1px 1px 1px rgb(204, 204, 204);
    border-top: none;
}

#tourist span {
    margin-top: 0px;
    padding: 5px 15px;
    display: inline-block;
    background-color: #02a0e9;
    cursor: pointer;
    color: #fff;
}

#log {
    margin-right: 5px;
}

/*#tourist{*/
/*width: 120px;*/
/*line-height: 30px;*/
/*background-color: #02a0e9;*/
/*border: 1px solid #02a0e9;*/
/*padding: 4px 0;*/
/*color: #fff;*/
/*position: absolute;*/
/*top: 10px;*/
/*right: 0;*/
/*cursor: pointer;*/
/*}*/
/*#log{*/
/*border-right: 1px dashed #fff;*/
/*}*/
/*#log,#reg{*/
/*display: inline-block;*/
/*padding: 0 10px;*/
/*}*/
#log:hover, #reg:hover {
    color: #333;
}

#log_user {
    width: 143px;
    line-height: 40px;
    background-color: #02a0e9;
    border: 1px solid #02a0e9;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
}

/*#log_user {*/
/*width: 143px;line-height: 40px;*/
/*background-color: #af0411;*/
/*border: 1px solid #af0411;*/
/*color: #fff;*/
/*position: absolute;top: 10px;right: 0;*/
/*cursor: pointer;*/
/*}*/
#user_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    padding: 0 15px;
    position: relative;
}

#header .user_nav {
    display: none;
    line-height: 35px;
    position: relative;
    -webkit-transition: text-indent .3s ease;
    -moz-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
}

#header .user_nav > a {
    color: #fff;
    width: 100%;
    display: inline-block;
}

#log_user:hover .user_nav {
    display: block;
}

#header .user_nav:hover {
    background-color: #00c6ff;
    text-indent: 6px;
}

/*#header .user_nav:hover{*/
/*background-color: #5f040b;*/
/*text-indent: 6px;*/
/*}*/
#header .exit {
    color: #fff;
}

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    padding-bottom: 130px;
    overflow: hidden;
}

#footer {
    width: 100%;
    height: 130px;
    background-color: #242F38;
    clear: both;
    margin-top: -130px
}

#footer_content {
    width: 1024px;
    margin: auto;
    padding-top: 50px;
    position: relative;
}

#weixin_img {
    border: 3px solid #02a0e9;
    position: absolute;
    top: -230px;
    right: -104px;
    display: none;
    z-index: 20;
}

#app_img {
    border: 3px solid #02a0e9;
    position: absolute;
    top: -230px;
    right: -30px;
    display: none;
    z-index: 20;
}

#footer .information {
    float: left;
    width: auto;
    color: #999;
    padding: 0 245px;
}

#footer .information > p {
    width: 100%;
    text-align: center;
}

#footer a {
    color: #02a0e9;
}

#footer a img {
    opacity: .3;
    filter: alpha(opacity=30);
}

#footer a img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

#weixin:hover + img {
    display: block;
}

#app_down:hover + img {
    display: block;
}

#feedback-con {
    border: 1px solid #e7e7e7;
    width: 382px;
    height: 245px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 2px 2px 2px #ecebeb;
    position: fixed;
    right: 30px;
    bottom: 36px;
    z-index: 1000;
    display: none;
}

#fb-header {
    padding-left: 50px;
    height: 60px;
    margin-top: -30px;
    position: relative;
}

#fb-ico {
    width: 61px;
    height: 61px;
    background-image: url("../img/feedback_logo.png");
}

#fb-close {
    font-family: 'iconfont';
    position: absolute;
    right: 5px;
    top: 35px;
    color: #555;
    font-size: 18px;
    cursor: pointer;
}

#fb_present {
    width: 358px;
    height: 180px;
    margin: 12px auto 0;
    position: relative;
}

#fed_msg {
    width: 96%;
    height: 126px;
    padding: 2%;
    resize: none;
    outline: none;
    border: 1px solid #ddd;
    -webkit-transition: border .4s ease-out;
    -moz-transition: border .4s ease-out;
    -o-transition: border .4s ease-out;
    transition: border .4s ease-out;
}

#fed_msg:focus, #fb-email:focus {
    border: 1px solid #00a9e1;
}

#fb-email {
    width: 270px;
    line-height: 25px;
    padding-left: 5px;
    margin-top: 3px;
    border: 1px solid #ddd;
    -webkit-transition: border .4s ease-out;
    -moz-transition: border .4s ease-out;
    -o-transition: border .4s ease-out;
    transition: border .4s ease-out;
}

#fb_presend {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 29px;
    padding: 0 10px;
    cursor: pointer;
    color: #fff;
    background-color: #00a9e1;
}

#feedback {
    width: 61px;
    height: 61px;
    position: fixed;
    bottom: 30px;
    right: 15px;
    cursor: pointer;
    opacity: .3;
    filter: alpha(opacity=30);
}

#feedback_icon {
    background: url("../img/feedback.png") center no-repeat;
    width: 50px;
    height: 38px;
    margin: auto;
    background-position: 0 0;
}

#feedback:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

#feedback:hover #feedback_icon {
    background-position: 0 -35px;
}

#back_top{
    width: 50px;
    height: 58px;
    position: fixed;
    bottom: 180px;
    right: 20px;
    cursor: pointer;
    display: none;
    z-index: 4;
    text-align: center;
    background-image: none;
}
#back_top .back-img {
    position: relative;
    width: 36px;
    height: 36px;
    left: 7px;
}
#back_top .back-text {
    position: relative;
    width: 50px;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    color: #cbcbcb;
    margin-top: 6px;
}
#back_top:hover .back-text {
    color: #6aa2e4;
}
#small-r {
    width: 50px;
    height: 52px;
    position: fixed;
    bottom: 110px;
    right: 20px;
    cursor: pointer;
    z-index: 4;
    text-align: center;
}
#small-r .small-img {
    position: relative;
    width: 30px;
    height: 30px;
    left: 10px;
}
#small-r .small-text {
    position: relative;
    font-size: 12px;
    color: #cbcbcb;
    width: 50px;
    height: 14px;
    line-height: 14px;
    margin-top: 6px;
}
#small-r .s-mark {
    position: absolute;
    width: 135px;
    height: 120px;
    z-index: 5;
    left: -140px;
    top: -38px;
    display: none;
}
#small-r:hover .s-mark {
    display: inline-block;
}
#small-r:hover .small-text {
    color: #6aa2e4;
}

.box {
    width: 1024px;
    margin: 35px auto 20px;
}

.box:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}

.is_wait {
    background: #ccc !important;
    cursor: default !important;
}

.is_wait:hover {
    background: #ccc !important;
    opacity: 1 !important;
}

span.tipRed {
    width: 9px;
    height: 9px;
    background: url(../img/noticedot.png) no-repeat;
    position: absolute;
    right: 5px;
    top: 14px;
}

/*投递简历样式*/
#deliver_resume {
    /*width: 440px;*/
    background: #fff;
    /*padding: 0 0 10px 0;*/
    /*border: solid 6px #dfedfd;*/
    border-radius: 4px;
    overflow: hidden;
}


#deliver_resume_baishi, #deliver_resume_baishi_assistant{
    width: 515px;
    height: auto;
    background:rgba(255,255,255,1);
    border:1px solid rgba(112,112,112,1);
    opacity:1;
    padding: 25px;
}
#deliver_resume_baishi .iconfont,#deliver_resume_baishi_assistant .iconfont{
    color: #1989FA;
    vertical-align: top;
    font-size: 14px;
}


#deliver_resume_baishi>#de_hed_baishi,#deliver_resume_baishi_assistant>#de_hed_baishi{
    /*height:40px;*/
    background:rgba(46,116,255,0.08);
    opacity:1;
    padding: 10px;
    font-size: 13px;
    color: #666666;
    margin-bottom: 20px;
}
#deliver_resume_baishi .baishi_radio>p,#deliver_resume_baishi_assistant .baishi_radio>p {
    text-align: left;
    font-size: 13px;
    color: #999999;
}

#deliver_resume_baishi .baishi_radio,#deliver_resume_baishi_assistant .baishi_radio{
    margin: 0 0 20px 32px;
}
#deliver_resume_baishi .baishi_radio>div,#deliver_resume_baishi_assistant .baishi_radio>div{
    margin-top: 20px;
    display: flex;

}

#deliver_resume_baishi .baishi_radio>div label,#deliver_resume_baishi_assistant .baishi_radio>div label{
    font-size: 13px;
    margin-left: 8px;
    color: #666666;
}
#deliver_resume_baishi .baishi_radio div:first-child,#deliver_resume_baishi_assistant .baishi_radio div:first-child{
    width: 70px;
    margin-right: 60px;
    text-align: left;
}

#deliver_resume_baishi .baishi_radio .interpolate,#deliver_resume_baishi_assistant .baishi_radio .interpolate{
    text-align: left;
    width: 300px;
}
#deliver_resume_baishi .baishi_radio .interpolate .interpolateInput,#deliver_resume_baishi_assistant .baishi_radio .interpolate .interpolateInput{
    padding: 5px 10px;
    width: 260px;
    border: none;
    border: 1px solid rgba(216,220,230,1);
    border-radius: 3px;
}
#deliver_resume_baishi .rowsBotton,#deliver_resume_baishi_assistant .rowsBotton{
    display: flex;
    width: 325px;
    margin: 0 auto;
    margin-top: 60px;
    justify-content: space-between;
}
#deliver_resume_baishi .rowsBotton button:first-child,#deliver_resume_baishi_assistant .rowsBotton button:first-child{
    width: 130px;
    height: 46px;
    border: 0px;
    background-color: transparent;
    border: 1px solid rgba(25,137,250,1);
    color: rgba(25,137,250,1);
    cursor: pointer;
    border-radius: 4px;
}
#deliver_resume_baishi .rowsBotton button:last-child,#deliver_resume_baishi_assistant .rowsBotton button:last-child{
    width: 130px;
    height: 46px;
    border: 0px;
    cursor: pointer;
    background-color: transparent;
    background: rgba(25,137,250,1);
    color: white;
    border-radius: 4px;
}




#de_hed {
    width: 100%;
    color: #252527;
    font-size: 18px;
    text-align: center;
    padding: 17px 0 17px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.09);
}

.de_h_p {
    padding: 0 15px;
}

#close_de {
    position: absolute;
    right: 28px;
    top: 20px;
    width: 12px;
    cursor: pointer;
    /*font-size: 25px;*/
    /*-webkit-transform: scale(1.2, 1);*/
    /*-moz-transform: scale(1.2, 1);*/
    /*-ms-transform: scale(1.2, 1);*/
    /*-o-transform: scale(1.2, 1);*/
    /*transform: scale(1.2, 1);*/
}
#de_center {
    padding: 30px 32px 0;
}
#de_center .de_tip {
    padding: 16px 0;
    font-size: 13px;
    color: #4C4C4E;
    text-align: center;
}
#de_center .de_tip a {
    color: #6AA2E4;
}
#de_center .line-between {
    margin: 0 6px;
    color: #888;
}
/*.de_sele::before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*display: block;*/
    /*background-color: #6aa2e4;*/
    /*top: 26px;*/
    /*left: 20px;*/
    /*width: 10px;*/
    /*height: 10px;*/
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*border-radius: 50%;*/
/*}*/

.de_sele {
    position: relative;
    color: #88888A;
    margin-bottom: 19px;
    /*padding: 0 0 10px 0;*/
}

.de_ra:checked + span {

    /*background-color: #fff;*/
    border-bottom: solid 2px #69A3E3;
    color: #69A3E3;
}

.de_ra + div a,
.de_tip a {
    position: relative;
    z-index: 3;
}

#resume_list_box {
    position: relative;
    margin-bottom: 24px;
    padding-bottom: 13px;
    border-bottom: 1px dashed #DCDFE6;
}

/*#resume_list_box::after {*/
    /*content: '';*/
    /*display: block;*/
    /*position: absolute;*/
    /*width: 1px;*/
    /*height: 100%;*/
    /*left: 24px;*/
    /*top: 0px;*/
    /*background-color: #ccc;*/
/*}*/

.de_ra + div {
    position: relative;
    display: block;
}

.de_am_inf {
    margin: 12px 0 15px;
    /*padding-left: 45px;*/
}
#deliver_resume select {
    padding-left: 5px;
    width: 298px;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    height: 34px;
    box-sizing: border-box;
    border-radius: 4px;
    color: #888;
}
/*#deliver_resume .select-year option:first-child,*/
/*#deliver_resume .select-month option:first-child {*/
    /*color: #999;*/
/*}*/

.de_ra {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.resume_list {
    padding: 5px 0 5px 0;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    line-height: 20px;
}
.resume_list .resume-detail {
    /*width: 240px;*/
    color: #88888A;
}
.resume_list .title {
    font-size: 15px;
    color: #252527;
}
.resume_list_p {
    padding-left:15px;
    font-size: 13px;
}

.de_look {
    color: #69A3E3;
    float: right;
    /*margin-right: 15px;*/
}

.de_look a {
    color: #69A3E3;
    cursor: pointer;
}
.radio-icon {
    margin-top: 3px;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: no-repeat center;
    background-image: url("../img/radio-choose.png");
    background-size: cover;
}

.radio-choosed {
    background-image: url("../img/radio-choosed.png");
}
.radio-disabled {
    background-image: url("../img/choose-disabled.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5), /* 注意这里的写法比较特殊 */
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .radio-icon {
        background-image: url("../img/radio-choose@2x.png");
    }
    .radio-choosed {
    background-image: url("../img/radio-choosed@2x.png");
    }
    .radio-disabled {
        background-image: url("../img/choose-disabled@2x.png");
    }
}

#deli_pre {
    display: block;
    border: none;
    outline: none;
    background: #6aa2e4;
    color: #fff;
    cursor: pointer;
    width: 120px;
    height: 40px;
    line-height: 38px;
    font-size: 15px;
    margin: 44px auto 34px;
    border-radius: 4px;
}
#deliver_resume .deliver-unable {
    background-color: #ddd;
}
#de_sure {
    display: none;
    padding: 0 0 15px 0;
}

#deli_prompt {
    padding: 20px;
}

.del_pre_btn {
    border: none;
    outline: none;
    background: #00a9e1;
    color: #fff;
    cursor: pointer;
    padding: 8px 35px;
    font-size: 18px;
    margin: 0 0 0 20px;
    border-radius: 6px;
}

.de_cg_res {
    font-size: 18px;
    cursor: pointer;
    padding: 0 0 0 10px;
    color: #555;
    text-decoration: underline;
}

.overflow_ell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    display: inline-block;
    vertical-align: bottom;
}

.col555 {
    color: #555;
}

.de_to2 {
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
    margin-left: 20px;
}

#de_amend {
    padding: 15px 35px;
    display: none;
}

.de_name_s1, .de_name_s2 {
    margin: 30px 0;
    height: 27px;
}

.de_rz_time {
    padding-left: 32px;
}

.de_an_city:focus, .de_an_time:focus,
select:focus {
    border-color: #69A3E3;
    /*background-color: #fff;*/
}

.de_an_city, .de_an_time {
    padding: 0 8px;
    width: 298px;
    border: solid 1px #DCDFE6;
    line-height: 36px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 4px;
    color: #888;
}
.months-wrap .de_an_time {
    width: 134px;
}
#deliver_resume .months-wrap .select-year {
    width: 75px;
}
#deliver_resume .months-wrap .select-month {
    width: 59px;
}
.months-wrap span {
    /*margin: 0 5px;*/
}
.de_name_text {
    padding: .4em 15px;
    width: 220px;
}

.de_change_name {
    padding: .4em .7em;
    color: #fff;
    vertical-align: sub;
    background: #00a9e1;
    margin-left: 30px;
    cursor: pointer;
}

.de_prev, .de_next {
    width: 20%;
    display: inline-block;
    background: #00a9e1;
    color: #fff;
    cursor: pointer;
    padding: 8px 15px;
    font-size: 18px;
    margin: 40px auto 0;
    border-radius: 6px;
    text-align: center;
}

.down_pin {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 6px;
    height: 6px;
    border: 1px solid;
    border-color: transparent #6aa2e4 #6aa2e4 transparent;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.de_prev {
    margin-left: 19%;
}

.de_next {
    margin-left: 10%;
}

/*地点选择*/
#city_select_box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1000;
    display: none;
}

#city_addr {
    position: absolute;
    top: 20px;
    right: 220px;
    font-size: 16px;
    padding-left: 20px;
    cursor: pointer;
    color: #00b794;
    background: url("../img/index_gps.png") no-repeat center left;
}

#city_select {
    width: 564px;
    height: 336px;
    background: #fff;
    position: absolute;
    top: 18%;
    left: 50%;
    margin: 0 0 0 -282px;
    font-size: 18px;
}

#city_select > p {
    padding-left: 37px;
    margin: 1em 0;
    color: #555;
}

.select_tit {
    color: #333;
    padding: .8em .6em .7em 1.2em;
    margin: 0;
    border-bottom: 1px solid #333;
}

.select_p2 {
    font-size: 16px;
}

.select_city {
    color: #00b794;
    cursor: pointer;
}

.select_citys {
    padding: 20px 25px 0;
}

.select_citys > span {
    color: #444;
    padding: .2em .8em;
    margin: 0 .8em 1em;
    display: inline-block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.select_close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.select_citys > span:hover {
    background: #00b794;
    color: #fff;
    cursor: pointer;
}

/* 升级浏览器*/
#upup_browser_box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: 99999;
    opacity: .8;
    filter: alpha(Opacity=80);
    display: none;
}

#up_browser {
    z-index: 100000;
    width: 80%;
    height: 80%;
    background: #eee;
    position: absolute;
    top: 8%;
    left: 10%;
    display: none;
}

.quanguo {
    cursor: pointer;
    color: #00b794;
}

.top-appdown {
    position: absolute;
    right: -110px;
    color: #999;
    display: block;
    top: 22px;
    text-decoration: none;
    outline: none;
    padding-left: 18px;
    background: url('../img/121a0bbdabd94e0ea257e632e7cd4511.png') no-repeat left;
    background-size: 14px 14px;
}

.resume-name {
    display: inline-block;
    width: 200px;
    /* overflow: hidden; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}