.sxs--modal{
    display: none;
}
.sxs--modal--container{

}
.sxs--modal--container.sxs--modal--shown{
    opacity: 1;
    z-index: 90;
    -webkit-transform: translate3D(0, 0px, 0);
    -moz-transform: translate3D(0, 0px, 0);
    -ms-transform: translate3D(0, 0px, 0);
    -o-transform: translate3D(0, 0px, 0);
    transform: translate3D(0, 0px, 0);
}
.sxs--modal--container
{
    width: 434px;
    position: absolute;
    top:50%;
    /*bottom:0;*/
    left:0;right:0;
    margin:auto;
    opacity: 0;
    -webkit-transform: translate3D(0, -100px, 0);
    -moz-transform: translate3D(0, -100px, 0);
    -ms-transform: translate3D(0, -100px, 0);
    -o-transform: translate3D(0, -100px, 0);
    transform: translate3D(0, -100px, 0);
}
.sxs--modal--containers
{
    width: 720px;
    position: absolute;
    top:50%;
    /*bottom:0;*/
    left:0;right:0;
    margin:auto;
    opacity: 0;
    -webkit-transform: translate3D(0, -100px, 0);
    -moz-transform: translate3D(0, -100px, 0);
    -ms-transform: translate3D(0, -100px, 0);
    -o-transform: translate3D(0, -100px, 0);
    transform: translate3D(0, -100px, 0);
}
.sxs--modal > .sxs--modal--bg{
    width: 434px;
    padding: 6px;
    height: 0px;
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;margin:auto;
    background: #dfedfd;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}
/*.sxs--modal--content{*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*width: 100%;*/
/*}*/
.sxs--modal--bg::before{
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    background: #fff;
}
.sxs--modal{
    position: fixed;
    z-index: 80;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
}
.sxs--modal > .sxs--modal--bg{

}
.sxs--modal--content > div,
.sxs--modal--content > form
{
    padding: 10px 0;
    margin: 0 36px;
}



.sxs--modal--hiding {
    -webkit-animation: sxs--modal--hiding .6s 1 forwards;
    -o-animation: sxs--modal--hiding .6s 1 forwards;
    animation: sxs--modal--hiding .6s 1 forwards;
}
.sxs--modal--shown{
    -webkit-animation: sxs--modal--shown .6s 1 forwards;
    -o-animation: sxs--modal--shown .6s 1 forwards;
    animation: sxs--modal--shown .6s 1 forwards;
}

@keyframes sxs--modal--shown {
    0%{
        opacity: 0;
        -webkit-transform: translate3D(0, 100px, 0);
        -moz-transform: translate3D(0, 100px, 0);
        -ms-transform: translate3D(0, 100px, 0);
        -o-transform: translate3D(0, 100px, 0);
        transform: translate3D(0, 100px, 0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translate3D(0, 0px, 0);
        -moz-transform: translate3D(0, 0px, 0);
        -ms-transform: translate3D(0, 0px, 0);
        -o-transform: translate3D(0, 0px, 0);
        transform: translate3D(0, 0px, 0);
    }
}
@keyframes sxs--modal--hiding{
    100%{
        opacity: 0;
        -webkit-transform: translate3D(0, -100px, 0);
        -moz-transform: translate3D(0, -100px, 0);
        -ms-transform: translate3D(0, -100px, 0);
        -o-transform: translate3D(0, -100px, 0);
        transform: translate3D(0, -100px, 0);
    }
    0%{
        opacity: 1;
        -webkit-transform: translate3D(0, 0px, 0);
        -moz-transform: translate3D(0, 0px, 0);
        -ms-transform: translate3D(0, 0px, 0);
        -o-transform: translate3D(0, 0px, 0);
        transform: translate3D(0, 0px, 0);
    }
}

.rows{
    display: flex;
    flex-wrap: wrap;
}

.iconfont{
    font-size: 14px;
    margin-right: 3px;
    vertical-align: inherit;
}

.heard_title{
    width: 100%;
    padding: 10px 0px !important;
    display: flex;
    justify-content: space-between;
}
.heard_title>p{
    margin-left: 28px;
}
.heard_title>i{
    margin-right: 18px;
}
.sxs_hover{
    padding: 0 8px;
    margin-bottom: 4px;
    float: left;
}

.sxs_divs{
    width: 550px;
}
#sxs_city{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0000004d;
    z-index: 101;
    
}
#sxs_city>div{
    background: white;
    opacity: 1;
    top: 178px;
}

.sxs_p{
    margin-right: 10px;
    color: #A0A0A2;
}
.sxs_hover:hover{
    color: white;
    background: #5e98db;
    cursor: pointer;
}

.sxs_hovers:hover{
    background: white;
    cursor: pointer;
    box-shadow:0px 2px 10px rgba(0,0,0,0.1);
}
.sxs_hovers:hover>p{
    color: #6AA2E4;
}

.sxs_hovers{
    margin-bottom: 7px;
}
.sxs_city_district{
    position: relative;
}

.sxs_hovers>p{
    padding: 0 8px;
}
.sxs_hovers>div{
    position: absolute;
    width: 579px;
    height: auto;
    background: white;
    padding:10px 20px;
    left: 20px;
    display: none;
    z-index: 1;
    flex-wrap: wrap;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1)
}



.sxs_minute_city{
    background: #FBFBFB;
    padding: 20px 0 5px 0;
}


.sxs--modal--content > .sxs--modal--icon:first-child{
    background: no-repeat center 36px;
}
.sxs--modal--content > .sxs--modal--icon {
    height: 76px;
    background: url("../img/i-tip.png") no-repeat center;
}
.sxs--modal--content > .sxs--modal--icon[data-icon='tip']{
    background-image: url("../img/i-tip.png");
}
.sxs--modal--content > .sxs--modal--icon[data-icon='error']{
    background-image: url("../img/i-error.png");
}
.sxs--modal--content > .sxs--modal--icon[data-icon='success']{
    background-image: url("../img/i-success.png");
}
.sxs--modal--content > div.sxs--modal--title:first-child,
.sxs--modal--content > div.sxs--modal--icon:first-child
{
    padding-top: 36px;
}
.sxs-modal-count{
    padding: 20px 20px;
}
.sxs--modal--content > div:last-child{
    padding-bottom: 36px;
}
.sxs--modals--content > div:last-child{
    padding-bottom: 36px;
}
.sxs--modals--content > div:last-child{
    padding-bottom: 36px;
}
.sxs--modal--title{
    text-align: center;
    color: #333;
    font-size: 24px;
    line-height: 30px;
    padding: 8px 0 10px;
}
.sxs--modals--text > span,
.sxs--modals--text > a
{
    /* color: #6aa2e4; */
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 8px;
    float: none;
}
.sxs--modals--text>.sxs_p{
    padding: 0;
}
.sxs--modals--title{
    color: #333;
    font-size: 17px;
    line-height: 30px;
    padding: 8px 0 10px;
    background: #4C4C4E;
    color: white;
    padding-left: 45px;
}
.sxs_shiji:hover{
    color: white !important;
    background: #5e98db;
    cursor: pointer;
}

.sxs--modal--text{
    color: #999;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.sxs--modals--content{
    overflow-y: auto;
    overflow-x: hidden;
    border: 10px solid #DFEDFE;
}
.sxs--modals--text{
    color: #4C4C4E;
    font-size: 14px;
    line-height: 24px;
    padding: 0px 10px 0 30px;
    margin-bottom: 8px;
}
.sxs--modal--text > span,
.sxs--modal--text > a
{
    color: #6aa2e4;
    display: inline-block;
    vertical-align: top;
    padding: 0 3px;
}
.sxs--modal--text > a:hover{
    text-decoration: none;
}
.sxs--modal--content > .sxs--modal--btn{
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-top: 36px;
}
.sxs--modal--btn > span,
.sxs--modal--btn > a
{
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex: 1;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    line-height: 48px;
    text-align: center;
    margin-right: 20px;
    background: #fafafa;
    border: solid 1px #eaeaea;
    color: #999;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.sxs--modal--btn > span[data-style='primary'],
.sxs--modal--btn > span[data-style='primary'][data-modal-form-check='passed'],
.sxs--modal--btn > a[data-style='primary'],
.sxs--modal--btn > a[data-style='primary'][data-modal-form-check='passed']
{
    background: #fafafa;
    border: solid 1px #eaeaea;
    color: #999;
    cursor: pointer;
}
.sxs--modal--btn > span[data-style='primary']:hover,
.sxs--modal--btn > span[data-style='primary'][data-modal-form-check='passed']:hover,
.sxs--modal--btn > a[data-style='primary']:hover,
.sxs--modal--btn > a[data-style='primary'][data-modal-form-check='passed']:hover
{
    border: solid 1px #eaeaea;
    color: #999;
    background: #f5f5f5;
    cursor: pointer;
}
.sxs--modal--btn > span[data-style='active'],
.sxs--modal--btn > span[data-style='active'][data-modal-form-check='passed'],
.sxs--modal--btn > a[data-style='active'],
.sxs--modal--btn > a[data-style='active'][data-modal-form-check='passed']
{
    background: #6aa2e4;
    border: solid 1px #5e98db;
    color: #fff;
    cursor: pointer;
}
.sxs--modal--btn > span[data-style='active']:hover,
.sxs--modal--btn > span[data-style='active'][data-modal-form-check='passed']:hover,
.sxs--modal--btn > a[data-style='active']:hover,
.sxs--modal--btn > a[data-style='active'][data-modal-form-check='passed']:hover
{
    border: solid 1px #5e98db;
    color: #fff;
    background: #5e98db;
    cursor: pointer;
}
.sxs--modal--btn > span[data-style='disable'],
.sxs--modal--btn > span[data-modal-form-check],
.sxs--modal--btn > span[data-style='disable']:hover,
.sxs--modal--btn > span[data-modal-form-check]:hover,
.sxs--modal--btn > a[data-style='disable'],
.sxs--modal--btn > a[data-modal-form-check],
.sxs--modal--btn > a[data-style='disable']:hover,
.sxs--modal--btn > a[data-modal-form-check]:hover
{
    background: #fafafa;
    border: solid 1px #eaeaea;
    color: #ccc;
    cursor: not-allowed;
}
.sxs--modal--btn > a:last-child,
.sxs--modal--btn > span:last-child{
    margin-right: 0;
}
.sxs--modal--content{
    overflow-y: auto;
    overflow-x: hidden;
}

.sxs--modal--input{
    height: 48px;
}
.sxs--modal--content > .sxs--modal--form{
    padding-bottom: 30px;
    position: relative;
}
.sxs--modal--form>label{
    display: block;
    padding-bottom: 20px;
}
.sxs--modal--form>label:last-child{
    padding-bottom: 0;
}
.sxs--modal--form>label.sxs--modal--input{
    position: relative;
}
.sxs--modal--form>label.sxs--modal--input > input
{
    padding: 8px;
    border: solid 1px #f5f5f5;
    background: #fafafa;
    line-height: 32px;
    font-size: 16px;
    color: #6aa2e4;
    letter-spacing: 2px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.sxs--modal--form>label.sxs--modal--input > span.sxs--modal--input--btn{
    position: absolute;
    padding: 0 22px;
    display: inline-block;
    right: 7px;
    top: 7px;
    line-height: 36px;
    background: #6aa2e4;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.sxs--modal--form>label.sxs--modal--input > span.sxs--modal--input--btn:hover{
    background: #5e98db;
}
.sxs--modal--form>label.sxs--modal--input > input:focus{
    border-color: #6aa2e4;
}
.sxs--modal--form>label.sxs--modal--input[data-sxs-err="true"] > input{
    border-color: #f68a8a !important;
    color: #f68a8a !important;
    -webkit-box-shadow: inset 0 0 4px 2px rgba(246, 138, 138, 0.61);
    -moz-box-shadow: inset 0 0 4px 2px rgba(246, 138, 138, 0.61);
    box-shadow: inset 0 0 4px 2px rgba(246, 138, 138, 0.61);
}
.sxs--modal--form>label.sxs--modal--select > select{
    display: none;
}
.sxs--modal--form>label.sxs--modal--select > .sxs--modal--selector
{
    display: block;
    padding: 8px;
    border: solid 1px #f5f5f5;
    background: #fafafa;
    line-height: 32px;
    font-size: 16px;
    color: #666;
    letter-spacing: 2px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.sxs--modal--form>label.sxs--modal--select{
    position: relative;
}
.sxs--modal--form>label.sxs--modal--select > .sxs--modal--selector::before,
.sxs--modal--form>label.sxs--modal--select > .sxs--modal--selector::after
{
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 2px;
    background: #ccc;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 20px;
    top: 25px;
}
.sxs--modal--form>label.sxs--modal--select > .sxs--modal--selector::after{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 16px;
    top: 25px;
}
.sxs--modal--form>label.sxs--modal--select > .sxs--modal--selector.active{
    color: #999;
    background: #fff;
}
.sxs--modal--form>label.sxs--modal--select > .sxs--modal--selector.active::before,
.sxs--modal--form>label.sxs--modal--select > .sxs--modal--selector.active::after{
    background: #6aa2e4;
}
.sxs--modal--form>label.sxs--modal--select > .sxs--modal--selector.active,
.sxs--modal--form>label.sxs--modal--select > .sxs--modal--selector.active ~ ul.sxs--modal--options
{
    border-color: #6aa2e4;
}
.sxs--modal--form>label.sxs--modal--select > .sxs--modal--selector.active ~ ul.sxs--modal--options{
    -webkit-transform: scale(1, 1) !important;
    -moz-transform: scale(1, 1) !important;
    -ms-transform: scale(1, 1) !important;
    -o-transform: scale(1, 1) !important;
    transform: scale(1, 1) !important;
    -webkit-transform-origin: 50% 0 !important;
    -moz-transform-origin: 50% 0 !important;
    -ms-transform-origin: 50% 0 !important;
    -o-transform-origin: 50% 0 !important;
    transform-origin: 50% 0 !important;
}
.sxs--modal--form>label.sxs--modal--select > .sxs--modal--selector ~ ul.sxs--modal--options li.active{
    color: #6aa2e4;
}
.sxs--modal--form>label.sxs--modal--select > .sxs--modal--selector ~ ul.sxs--modal--options li:hover{
    background: #fafafa;
}
.sxs--modal--form>label.sxs--modal--select > .sxs--modal--selector ~ ul.sxs--modal--options li{
    list-style: none;
    line-height: 32px;
    padding: 8px;
    font-size: 16px;
}
.sxs--modal--form>label.sxs--modal--select > .sxs--modal--selector ~ ul.sxs--modal--options
{
    position: absolute;
    top: 49px;
    margin: 0;
    padding: 0;
    border: solid 1px #f5f5f5;
    border-top: none;
    background: #fff;
    color: #333;
    letter-spacing: 2px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 50% 0 ;
    -moz-transform-origin: 50% 0 ;
    -ms-transform-origin: 50% 0 ;
    -o-transform-origin: 50% 0 ;
    transform-origin: 50% 0 ;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    z-index: 9;
    max-height: 145px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.sxs--modal--form>label{

}
.sxs--modal--form[data-sxs-err]::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    bottom: 3px;
    left: 3px;
    background: #f68a8a;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.sxs--modal--form[data-sxs-err]::after {
    content: attr(data-sxs-err);
    color: #f68a8a;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 24px;
    line-height: 20px;
}
