html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch
}

.btn:focus, .btn:hover {
  text-decoration: none;
  outline: 0
}

.btn-primary {
  background-color: #278ff0;
  border-color: #278ff0
}

.bdd_style .btn-primary.active, .bdd_style .btn-primary:active, .bdd_style .btn-primary:focus, .bdd_style .btn-primary:hover, .bdd_style .open .dropdown-toggle.btn-primary {
  background-color: #549a3a;
  border-color: #549a3a
}

.wdd_style .btn-primary.active, .wdd_style .btn-primary:active, .wdd_style .btn-primary:focus, .wdd_style .btn-primary:hover, .wdd_style .open .dropdown-toggle.btn-primary {
  background-color: #4ba432;
  border-color: #4ba432
}

.service h6 {
  height: auto;
  text-align: left;
  background: 0 0;
  border: none
}

body {
  margin: 0;
  font-size: 0.16rem;
  font-family: "Microsoft Yahei", tahoma, arial;
  line-height: 1.5;
  color: #333
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden], template {
  display: none
}

a {
  background: 0 0;
  text-decoration: none;
  color: #333
}

a:active, a:hover {
  outline: 0
}

abbr[title] {
  border-bottom: 0.0133rem dotted
}

b, strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

mark {
  background: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic
}

svg:not(:root) {
  overflow: hidden
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button, select {
  text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled], html input[disabled] {
  cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input {
  line-height: normal
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

legend {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto;
  resize: vertical
}

optgroup {
  font-weight: 700
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td, th {
  padding: 0
}

q {
  quotes: none
}

button, html, input, select, textarea {
  font-family: "Microsoft Yahei", tahoma, arial
}

blockquote, figure, form, h1, h2, h3, h4, h5, h6, p {
  margin: 0
}

dd, dl, li, ol, ul {
  margin: 0;
  padding: 0
}

ol, ul {
  list-style: none outside none
}

h1, h2, h3 {
  line-height: 2;
  font-weight: 400
}

h1 {
  font-size: 0.24rem
}

h2 {
  font-size: 0.208rem
}

h3 {
  font-size: 0.1872rem
}

h4 {
  font-size: 0.16rem
}

h5, h6 {
  font-size: 0.136rem;
  text-transform: uppercase
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #ccc
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ccc
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ccc
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ccc
}

.banner .hd li, .btn-right, .form-captcha, .form-file-wrap, .header-nav-btn .header-nav-btn1 i, .m-nav .ico-hot, .m-nav .ico-hot2, .m-nav .nav-allsort .allsort-list .hover .item-list, .m-nav .nav-allsort .allsort-list .item-list .item-ls2 .it-l-content a, .m-nav .nav-allsort .allsort-list ul li h3, .m-nav .nav-allsort .allsort-list ul li i, .m-nav a, .resource-nav-side .side-login a {
  display: inline-block
}

.auto, .banner .bd li img, .footer .wrap, .footer-img .wrap, .header, .resource-nav-side, .service-box .wrap, .service-box2 ul, .topbar-body, .wrap-box .main, .wrap-box .prompt {
  margin-left: auto;
  margin-right: auto
}

.service-box .li-ct, .service-box li, .service-box span, .service-box2 ul .ewm-l, .service-box2 ul li, .wrap-box .main .wrap-dynamic .dynamic {
  float: left;
  display: inline
}

#order .form-item:after, #order .form-item:before, .banner .bd li a:after, .banner .bd li a:before, .drop-box .breed_box:after, .drop-box .breed_box:before, .drop-box .city_box:after, .drop-box .city_box:before, .drop-box .warehouse_box:after, .drop-box .warehouse_box:before, .drop-box .way_box:after, .drop-box .way_box:before, .f-cb:after, .f-cb:before, .fl-ass-wrap .fl-ass-ct:after, .fl-ass-wrap .fl-ass-ct:before, .float-r .icon1ct:after, .float-r .icon1ct:before, .form .form-item:after, .form .form-item:before, .form-field-rc:after, .form-field-rc:before, .form-item:after, .form-item:before, .hd-search .search-bd .search-result li a:after, .hd-search .search-bd .search-result li a:before, .header:after, .header:before, .m-nav .main-nav:after, .m-nav .main-nav:before, .m-nav .nav-allsort .allsort-list .item-list:after, .m-nav .nav-allsort .allsort-list .item-list:before, .m-nav .nav-allsort .allsort-list ul li .item-nav:after, .m-nav .nav-allsort .allsort-list ul li .item-nav:before, .resource-nav-side .side-login .side2 .side2-logon-content .conten:after, .resource-nav-side .side-login .side2 .side2-logon-content .conten:before, .resource-nav-side .side-login .side2 .side2-tab-content .conten:after, .resource-nav-side .side-login .side2 .side2-tab-content .conten:before, .resource-nav-side .side-login .side2 ul:after, .resource-nav-side .side-login .side2 ul:before, .service-box ul:after, .service-box ul:before, .service-box2 ul li.ewm:after, .service-box2 ul li.ewm:before, .service-box2 ul:after, .service-box2 ul:before, .topbar-body .menu-bd .menu-bd-panel1 .content1:after, .topbar-body .menu-bd .menu-bd-panel1 .content1:before, .topbar-body .menu-bd .menu-bd-panel2 .content2-infor2:after, .topbar-body .menu-bd .menu-bd-panel2 .content2-infor2:before, .topbar-body .menu-bd .menu-bd-panel2:after, .topbar-body .menu-bd .menu-bd-panel2:before, .topbar-body:after, .topbar-body:before, .wrap-box .main .fr-main .assist .s-s1-d2:after, .wrap-box .main .fr-main .assist .s-s1-d2:before, .wrap-box .main .fr-main .fr-main-top:after, .wrap-box .main .fr-main .fr-main-top:before, .wrap-box .main .fr-main .list-info ul li a:after, .wrap-box .main .fr-main .list-info ul li a:before, .wrap-box .main .wrap-dynamic .trend .ct li p:after, .wrap-box .main .wrap-dynamic .trend .ct li p:before, .wrap-box .main .wrap-dynamic:after, .wrap-box .main .wrap-dynamic:before, .wrap-box .main .wrap-logistics .fr-main .assist form .ciyt-li:after, .wrap-box .main .wrap-logistics .fr-main .assist form .ciyt-li:before, .wrap-box .main .wrap-logistics .fr-main .assist form ul.looking-car li:after, .wrap-box .main .wrap-logistics .fr-main .assist form ul.looking-car li:before, .wrap-box .main .wrap-logistics .fr-main .list-info .busin:after, .wrap-box .main .wrap-logistics .fr-main .list-info .busin:before, .wrap-box .main .wrap-logistics .fr-main .list-info .list-info-sd:after, .wrap-box .main .wrap-logistics .fr-main .list-info .list-info-sd:before, .wrap-box .main .wrap-logistics .fr-main .list-info .tit2:after, .wrap-box .main .wrap-logistics .fr-main .list-info .tit2:before, .wrap-box .main .wrap-logistics:after, .wrap-box .main .wrap-logistics:before, .wrap-box .main .wrap-money .fr-main .mony-list:after, .wrap-box .main .wrap-money .fr-main .mony-list:before, .wrap-box .main .wrap-money:after, .wrap-box .main .wrap-money:before, .wrap-box .main .wrap-proces .fr-main .assist form .ciyt-li:after, .wrap-box .main .wrap-proces .fr-main .assist form .ciyt-li:before, .wrap-box .main .wrap-proces .fr-main .assist form ul.looking-car li:after, .wrap-box .main .wrap-proces .fr-main .assist form ul.looking-car li:before, .wrap-box .main .wrap-proces .fr-main .list-info .busin:after, .wrap-box .main .wrap-proces .fr-main .list-info .busin:before, .wrap-box .main .wrap-proces .fr-main .list-info .list-info-sd:after, .wrap-box .main .wrap-proces .fr-main .list-info .list-info-sd:before, .wrap-box .main .wrap-proces .fr-main .list-info .tit2:after, .wrap-box .main .wrap-proces .fr-main .list-info .tit2:before, .wrap-box .main .wrap-proces:after, .wrap-box .main .wrap-proces:before, .wrap-box .main:after, .wrap-box .main:before, .wrap-box .prompt .movement .mot-cont:after, .wrap-box .prompt .movement .mot-cont:before, .wrap-box .prompt .movement h2:after, .wrap-box .prompt .movement h2:before, .wrap-box .prompt:after, .wrap-box .prompt:before, .wrap-box .slide-price .slide-itemswrap .slide-items .mod .full:after, .wrap-box .slide-price .slide-itemswrap .slide-items .mod .full:before, .wrap-box .slide-price .slide-itemswrap .slide-items .mod .info:after, .wrap-box .slide-price .slide-itemswrap .slide-items .mod .info:before, .wrap-box:after, .wrap-box:before, .wrap-supkt:after, .wrap-supkt:before {
  content: "";
  display: table
}

#order .form-item:after, .banner .bd li a:after, .drop-box .breed_box:after, .drop-box .city_box:after, .drop-box .warehouse_box:after, .drop-box .way_box:after, .f-cb:after, .fl-ass-wrap .fl-ass-ct:after, .float-r .icon1ct:after, .form .form-item:after, .form-field-rc:after, .form-item:after, .hd-search .search-bd .search-result li a:after, .header:after, .m-nav .main-nav:after, .m-nav .nav-allsort .allsort-list .item-list:after, .m-nav .nav-allsort .allsort-list ul li .item-nav:after, .resource-nav-side .side-login .side2 .side2-logon-content .conten:after, .resource-nav-side .side-login .side2 .side2-tab-content .conten:after, .resource-nav-side .side-login .side2 ul:after, .service-box ul:after, .service-box2 ul li.ewm:after, .service-box2 ul:after, .topbar-body .menu-bd .menu-bd-panel1 .content1:after, .topbar-body .menu-bd .menu-bd-panel2 .content2-infor2:after, .topbar-body .menu-bd .menu-bd-panel2:after, .topbar-body:after, .wrap-box .main .fr-main .assist .s-s1-d2:after, .wrap-box .main .fr-main .fr-main-top:after, .wrap-box .main .fr-main .list-info ul li a:after, .wrap-box .main .wrap-dynamic .trend .ct li p:after, .wrap-box .main .wrap-dynamic:after, .wrap-box .main .wrap-logistics .fr-main .assist form .ciyt-li:after, .wrap-box .main .wrap-logistics .fr-main .assist form ul.looking-car li:after, .wrap-box .main .wrap-logistics .fr-main .list-info .busin:after, .wrap-box .main .wrap-logistics .fr-main .list-info .list-info-sd:after, .wrap-box .main .wrap-logistics .fr-main .list-info .tit2:after, .wrap-box .main .wrap-logistics:after, .wrap-box .main .wrap-money .fr-main .mony-list:after, .wrap-box .main .wrap-money:after, .wrap-box .main .wrap-proces .fr-main .assist form .ciyt-li:after, .wrap-box .main .wrap-proces .fr-main .assist form ul.looking-car li:after, .wrap-box .main .wrap-proces .fr-main .list-info .busin:after, .wrap-box .main .wrap-proces .fr-main .list-info .list-info-sd:after, .wrap-box .main .wrap-proces .fr-main .list-info .tit2:after, .wrap-box .main .wrap-proces:after, .wrap-box .main:after, .wrap-box .prompt .movement .mot-cont:after, .wrap-box .prompt .movement h2:after, .wrap-box .prompt:after, .wrap-box .slide-price .slide-itemswrap .slide-items .mod .full:after, .wrap-box .slide-price .slide-itemswrap .slide-items .mod .info:after, .wrap-box:after, .wrap-supkt:after {
  clear: both
}

.topbar {
  width: 100%;
  height: 0.4rem;
  border-bottom: solid 0.0133rem #e5e5e5;
  background-color: #f2f2f2
}

.menu-hd, .menu-hd-last {
  position: relative;
  z-index: 1002;
  height: 0.4rem;
  line-height: 0.4rem;
  padding: 0 0.2rem;
  overflow: hidden
}

.menu-hd a {
  float: left;
  display: inline;
  display: inline;
  margin-right: 0.0667rem;
  font-size: 0.16rem;
  text-decoration: none
}

.menu-hd i {
  position: relative;
  display: inline;
  float: left;
  display: inline;
  color: #6a6a6a;
  font: 400 0.2rem/0.2rem consolas;
  height: 0.08rem;
  width: 0.1333rem;
  overflow: hidden;
  margin-top: 0.1733rem;
  -webkit-transition: transform .1s ease-in 0s;
  -moz-transition: transform .1s ease-in 0s;
  -o-transition: transform .1s ease-in 0s;
  transition: transform .1s ease-in 0s;
  background-position: -0.0667rem -0.0267rem
}

.menu-hd i s {
  position: relative;
  text-decoration: none;
  top: -0.0933rem
}

.menu-hd.city-item {
  padding: 0 0.1333rem;
  cursor: pointer
}

.menu-hd.city-item span {
  float: left;
  display: inline;
  margin-right: 0.0667rem
}

.menu-hover .menu-hd {
  padding: 0 0.1867rem 0.0133rem;
  border-width: 0 0.0133rem;
  border-style: solid;
  border-color: #eee;
  background: #fff
}

.menu-hover .menu-hd i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: 0.1733rem
}

.menu-hover .menu-hd.city-item {
  padding: 0 0.12rem
}

.topbar-body {
  width: 15.8667rem;
  height: 0.4rem
}

.topbar-body .topbar-bd-l {
  float: left;
  display: inline
}

.topbar-body .topbar-bd-l li {
  margin-right: 0.1333rem
}

.topbar-body .topbar-bd-r {
  float: right;
  display: inline
}

.topbar-body .topbar-bd-r .tb-m-a2 {
  margin-right: 0.1067rem
}

.topbar-body .topbar-bd-r .tb-m-a3 {
  margin-right: 0.2rem
}

.topbar-body li {
  float: left;
  margin: 0 -0.04rem;
  font-size: 0.16rem;
  color: #787878;
  line-height: 0.4rem
}

.topbar-body li a {
  color: #787878
}

.topbar-body li .tb-m-a2:hover, .topbar-body li .tb-m-a3:hover {
  color: #ff504c
}

.topbar-body li.cart {
  margin-left: 0.1067rem
}

.topbar-body li.login-info {
  margin: 0 0.0667rem 0 0
}

.topbar-body li.login-info .user-name:hover {
  color: #ff504c
}

.topbar-body li.tb-m-line {
  margin: 0;
  font-size: 0.16rem;
  color: #ccc;
  line-height: 0.4rem
}

.topbar-body li.tb-m-line1 {
  padding: 0 0.2rem
}

.topbar-body .menu-bd {
  z-index: 999;
  position: relative;
  display: none;
  margin-top: -0.0133rem
}

.topbar-body .menu-bd .menu-bd-panel {
  padding: 0.16rem 0.24rem;
  line-height: normal;
  border: 0.0133rem solid #eee;
  background: #fff
}

.topbar-body .menu-bd .menu-bd-panel3 {
  display: block;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  position: absolute;
  padding: 0.1067rem 0
}

.topbar-body .menu-bd .menu-bd-panel3 a {
  color: #6c6c6c;
  display: block;
  width: 0.8rem;
  line-height: 0.3733rem;
  padding: 0 0.2rem;
  white-space: nowrap
}

.topbar-body .menu-bd .menu-bd-panel3.menu-bd-panel-list a {
  color: #6c6c6c;
  display: block;
  width: 0.8rem;
  line-height: 0.3733rem;
  padding: 0 0.2933rem;
  white-space: nowrap
}

.topbar-body .menu-bd .menu-bd-panel3 a:hover {
  background-color: #f5f5f5
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .topbar-body .menu-bd .menu-bd-panel3 a {
    width: 0.84rem
  }
}

.topbar-body .menu-bd .menu-bd-panel1 {
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  position: absolute;
  width: 1.9733rem
}

.topbar-body .menu-bd .menu-bd-panel1 .content1 .content1-infor1 {
  float: left;
  display: inline;
  width: 0.6667rem;
  height: 0.6667rem;
  border-radius: 0.6667rem;
  overflow: hidden
}

.topbar-body .menu-bd .menu-bd-panel1 .content1 .content1-infor1 img {
  width: 0.6667rem;
  height: 0.6667rem
}

.topbar-body .menu-bd .menu-bd-panel1 .content1 .content1-infor2 {
  float: left;
  padding: 0.0667rem 0 0.0667rem 0.16rem
}

.topbar-body .menu-bd .menu-bd-panel1 .content1 .content1-infor2 .line1 {
  font-weight: 700
}

.topbar-body .menu-bd .menu-bd-panel1 .content1 .content1-infor2 .line1, .topbar-body .menu-bd .menu-bd-panel1 .content1 .content1-infor2 .line2 {
  line-height: 0.2667rem
}

.topbar-body .menu-bd .menu-bd-panel1 .content2 {
  margin-top: 0.1333rem
}

.topbar-body .menu-bd .menu-bd-panel1 .content2 a {
  display: inline-block;
  width: 0.92rem;
  line-height: 0.3333rem
}

.topbar-body .menu-bd .menu-bd-panel1 .content2 a.first {
  margin-right: 0.1333rem
}

.topbar-body .menu-bd .menu-bd-panel2 {
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  position: absolute;
  width: 2.6667rem;
  padding: 0.16rem 0.1333rem
}

.topbar-body .menu-bd .menu-bd-panel2.menu-bd-panel22 {
  left: 0
}

.topbar-body .menu-bd .menu-bd-panel2 .content1 {
  float: left;
  display: inline
}

.topbar-body .menu-bd .menu-bd-panel2 .content2 {
  float: left;
  display: inline;
  padding: 0.0667rem
}

.topbar-body .menu-bd .menu-bd-panel2 .content2-infor1 {
  color: #ff6f6c;
  font-size: 0.1733rem
}

.topbar-body .menu-bd .menu-bd-panel2 .content2-infor2 {
  display: block;
  margin: 0.1333rem 0;
  height: 0.3333rem;
  line-height: 0.3333rem;
  color: #999
}

.topbar-body .menu-bd .menu-bd-panel2 .content2-infor2 i, .topbar-body .menu-bd .menu-bd-panel2 .content2-infor2 span {
  float: left;
  display: inline
}

.topbar-body .menu-bd .menu-bd-panel2 .content2-infor2 i {
  display: inline-block;
  width: 0.3333rem;
  height: 0.3333rem;
  margin-right: 0.0667rem
}

.topbar-body .menu-bd .menu-bd-panel2 .content2-infor2 .ico1 {
  background-position: 0 -1.3067rem
}

.topbar-body .menu-bd .menu-bd-panel2 .content2-infor2 .ico2 {
  background-position: 0 -1.8133rem
}

.topbar-body .menu-bd .city-list {
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  position: absolute;
  width: 5.2rem;
  padding: 0.1333rem 0.1067rem;
  border: 0.0133rem solid #eee;
  box-shadow: 0.0267rem 0.0267rem 0.0267rem rgba(221, 221, 221, .2);
  background: #fff
}

.topbar-body .menu-bd .city-list a {
  float: left;
  display: inline;
  display: inline-block;
  width: 0.6rem;
  text-align: center;
  line-height: 0.2667rem;
  border-radius: 0.04rem;
  margin: 0.0267rem 0.0667rem 0.0267rem 0.0667rem
}

.topbar-body .menu-hover .menu-bd {
  display: block
}

.topbar-body .sitemap .menu-bd a:hover {
  color: #000
}

.topbar-body .wangzhan_dh .wangzhan_dh_panel {
  width: 3.8667rem;
  padding: 0.0667rem 0 0 0.2rem;
  zoom: 1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  position: absolute
}

.topbar-body .wangzhan_dh .wangzhan_dh_panel dl {
  padding: 0;
  padding-bottom: 0.1333rem
}

.topbar-body .wangzhan_dh .wangzhan_dh_panel dl .detailold, .topbar-body .wangzhan_dh .wangzhan_dh_panel dl .name {
  display: inline-block;
  vertical-align: top
}

.topbar-body .wangzhan_dh .wangzhan_dh_panel dl .name {
  width: 1.0133rem;
  display: inline-block;
  font-size: 0.1733rem;
  font-weight: 700;
  padding: 0.1067rem 0.1067rem 0.1067rem 0;
  height: 0.1867rem;
  line-height: 0.1867rem;
  color: #555
}

.topbar-body .wangzhan_dh .wangzhan_dh_panel dl .detailold {
  zoom: 1;
  width: 2.6933rem
}

.topbar-body .wangzhan_dh .wangzhan_dh_panel dl .detailold span {
  float: left;
  height: 0.1867rem;
  line-height: 0.1867rem;
  margin: 0.1067rem 0;
  white-space: nowrap;
  padding: 0 0.16rem
}

.border_rig {
  border-right: solid #ececec 0.0133rem
}

.city-goal i, .hd-search .search-button .btn-search i, .search-triggers i {}

.header {
  width: 15.8667rem;
  /* height: 0.9333rem; */
  /* padding: 0.4rem 0; */
  position: relative;
  z-index: 120
}

.logo {
  float: left;
  display: inline
}

.logo a {
  display: inline-block
}

.logo img {
  height: 0.7333rem
}

.hd-search {
  float: left;
  display: inline;
  width: 6.4rem;
  margin-left: 1.6533rem
}

.tdd_style .hd-search .search-bd {
  position: relative;
  border: 0.0267rem solid #278ff0;
  height: 0.4267rem;
  background-color: #fff
}

.bdd_style .hd-search .search-bd {
  position: relative;
  border: 0.0267rem solid #549a3a;
  height: 0.4267rem;
  background-color: #fff
}

.wdd_style .hd-search .search-bd {
  position: relative;
  border: 0.0267rem solid #4ba432;
  height: 0.4267rem;
  background-color: #fff
}

.hd-search .search-triggers {
  position: relative;
  z-index: 5;
  width: 4rem;
  height: 0.4267rem;
  overflow: hidden;
  margin: 0
}

.hd-search .search-triggers ul {
  position: absolute;
  width: 100%;
  left: 0
}

.hd-search .search-triggers ul li {
  float: left;
  line-height: 0.4267rem;
  font-size: 0.1867rem;
  display: block;
  padding: 0 0.1067rem;
  background-color: #fff;
  color: #999;
  cursor: pointer
}

.hd-search .search-triggers i {
  position: absolute;
  z-index: 2;
  top: 0.1733rem;
  left: 0.6133rem;
  float: left;
  display: inline;
  width: 0.1733rem;
  height: 0.1333rem;
  margin: 0 0.0667rem;
  background-position: 0 -2.3067rem;
  overflow: hidden
}

.hd-search .search-triggers-hover {
  overflow: visible
}

.hd-search .search-triggers-hover i {
  background-position: 0 -2.4533rem
}

.hd-search .search-bd .search-combobox {
  float: left;
  display: inline;
  width: 4.8667rem;
  height: 0.4267rem;
  padding-left: 0.3333rem;
  ;
  background-position: 0.0267rem -0.6133rem
}

.hd-search .search-bd .search-combobox-input input {
  width: 100%;
  height: 0.2933rem;
  line-height: 0.2667rem;
  padding: 0.0667rem 0;
  border: 0 none;
  outline: 0 none;
  text-indent: 0.0667rem
}

.hd-search .search-bd .search-result {
  display: none;
  top: 0.4533rem;
  right: auto;
  bottom: auto;
  left: 0.9333rem;
  position: absolute;
  width: 4.3333rem;
  border: 0.0133rem solid #ddd;
  border-top: 0;
  background-color: #fff
}

.hd-search .search-bd .search-result li {
  line-height: 0.3333rem;
  padding: 0 0.1333rem 0 0.16rem;
  cursor: pointer
}

.hd-search .search-bd .search-result li a {
  display: block
}

.hd-search .search-bd .search-result li .sear-res-l {
  float: left;
  display: inline;
  color: #3c3c3c
}

.hd-search .search-bd .search-result li .sear-res-l b {
  margin: 0 0.0533rem
}

.hd-search .search-bd .search-result li .sear-res-r {
  float: right;
  display: inline;
  color: #bbb
}

.hd-search .search-bd .search-result li .blue {
  color: #0f86d8
}

.hd-search .search-bd .search-result .sear-res {
  border-bottom: 0.0133rem solid #ddd
}

.hd-search .search-bd .search-result li.first, .hd-search .search-bd .search-result li:hover {
  background-color: #eee
}

.hd-search .search-bd .search-result li.first .sear-res-l {
  color: #0f86d8
}

.hd-search .search-button {
  float: right;
  display: inline
}

.hd-search .search-button .btn-search {
  width: 1.0667rem;
  height: 0.4267rem;
  line-height: 0.4267rem;
  text-align: center;
  border: 0 none;
  overflow: hidden;
  cursor: pointer;
  font-size: 0.2rem;
  background-color: #278ff0;
  color: #fff
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .hd-search .search-button .btn-search {
    line-height: 0.4rem
  }
}

.header-nav-btn {
  position: relative;
  float: right;
  width: 2rem;
  display: inline;
  margin-top: 0.4533rem;
  margin-right: 0.8533rem
}

.header-nav-btn .header-nav-btn1 {
  display: inline-block;
  padding: 0.04rem 0.1333rem;
  font-size: 0.1867rem
}

.header-nav-btn .header-nav-btn1.mn-ico1, .header-nav-btn .header-nav-btn1.mn-ico2 {
  width: auto;
  height: 0.3733rem;
  line-height: 0.3733rem;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  color: #888;
  border: 0.0133rem solid #ddd;
  border-radius: 0.0267rem;
  text-align: left;
  margin-left: 0.0667rem
}

.header-nav-btn .header-nav-btn1 i {
  vertical-align: middle;
}

.header-nav-btn .header-nav-btn1.mn-ico2 {
  width: 1.4933rem;
  position: absolute;
  z-index: 200
}

.header-nav-btn .header-nav-btn1.mn-ico1 i {
  width: 0.2933rem;
  height: 0.3733rem;
  margin-right: 0.0667rem;
  background-position: -0.4267rem -1.32rem
}

.header-nav-btn .header-nav-btn1.mn-ico2 i {
  width: 0.32rem;
  height: 0.32rem;
  margin-right: 0.0667rem;
  background-position: 0 -1.04rem
}

.header-nav-btn .header-nav-btn1.mn-ico2 span {
  display: inline-block;
  min-width: 0.2rem;
  text-align: center;
  line-height: 0.24rem;
  padding: 0 0.0667rem;
  margin-left: 0.1067rem;
  border-radius: 0.1333rem;
  font-size: 0.16rem;
  background-color: #f61d4a;
  color: #fff
}

.header-nav-btn .cart-panel {
  top: 0.4533rem;
  right: 0.1467rem;
  bottom: auto;
  left: auto;
  position: absolute;
  display: none;
  width: 2.88rem;
  border: 0.0133rem solid #ddd;
  padding: 0.2rem;
  overflow: hidden;
  background-color: #fff;
  z-index: 99
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .header-nav-btn .cart-panel {
    right: 0.1467rem;
    width: 2.8667rem
  }
}

.header-nav-btn .cart-panel .cartlist {
  line-height: 0.3333rem;
  padding-bottom: 0.0667rem;
  border-bottom: solid 0.0133rem #eee;
  margin-bottom: 0.1333rem;
  color: #666
}

.header-nav-btn .cart-panel .cartlist .orange {
  color: #ff504c
}

.header-nav-btn .cart-panel .header-nav-btn2 {
  float: right;
  display: inline-block;
  width: 1.0667rem;
  height: 0.3333rem;
  text-align: center;
  line-height: 0.3333rem;
  border: 0.0133rem solid #f61d4a;
  border-radius: 0.04rem;
  color: #f61d4a;
  background-color: #fff
}

.iconfont {
  font-family: iconfont !important;
  font-size: 0.2133rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.0027rem;
  -moz-osx-font-smoothing: grayscale
}

.icon-jiancai:before {
  content: "\e600"
}

.icon-rejuan:before {
  content: "\e601"
}

.icon-zhonghouban:before {
  content: "\e602"
}

.icon-lengdu:before {
  content: "\e603"
}

.icon-guancai:before {
  content: "\e605"
}

.icon-youtegang:before {
  content: "\e606"
}

.icon-buxiugang:before {
  content: "\e608"
}

.icon-buxiugang1:before {
  content: "\e609"
}

.icon-daigang:before {
  content: "\e604"
}

.allsort-list ul li .item-sub, .m-nav .ico-hot, .m-nav .ico-hot2, .nav-all i, .resource-nav-side .side-login .side1 .s-lg-s12 a i {
  /* background: url() no-repeat */
}

.f-fl {
  float: left;
  display: inline
}

.f-fr {
  float: right;
  display: inline
}

.auto {
  width: 15.8667rem
}

.m-nav {
  position: relative;
  z-index: 99
}

.m-nav .main-nav {
  height: 0.5067rem;
  border-bottom: 0.0267rem solid #278ff0
}

.m-nav .main-nav .nav-main {
  position: relative
}

.m-nav .main-nav .nav-allsort, .m-nav .main-nav .nav-main {
  float: left;
  display: inline;
  height: 0.5333rem
}

.m-nav .main-nav .nav-main a, .m-nav .nav-all {
  padding: 0 0.24rem;
  line-height: 0.5067rem;
  color: #333;
  font-size: 0.2rem;
  text-decoration: none
}

.m-nav .main-nav .nav-main .nav_chaoshi_list {
  width: 1.52rem;
  position: absolute;
  top: 0.5067rem;
  line-height: 0.4rem;
  text-align: center;
  background-color: #fff
}

.m-nav .main-nav .nav-main .nav_chaoshi_list li {
  display: table;
  height: 0.5067rem;
  margin: 0 0.2133rem;
  overflow: hidden
}

.m-nav .main-nav .nav-main .nav_chaoshi_list a {
  display: block;
  height: 0.5067rem;
  padding: 0;
  overflow: hidden
}

.m-nav .main-nav .nav-main .nav_cuohe_list {
  width: 1.52rem;
  position: absolute;
  top: 0.5067rem;
  line-height: 0.4rem;
  text-align: center;
  background-color: #fff
}

.m-nav .main-nav .nav-main .nav_cuohe_list a {
  padding: 0
}

.m-nav .ico-hot {
  width: 0.3333rem;
  height: 0.2133rem;
  top: 0;
  right: -0.0667rem;
  bottom: auto;
  left: auto;
  position: absolute;
  background-position: -0.7467rem -2.32rem
}

.m-nav .ico-hot2 {
  width: 0.3333rem;
  height: 0.2133rem;
  top: 0;
  right: -0.0667rem;
  bottom: auto;
  left: auto;
  position: absolute;
  background-position: -0.7467rem -2.5333rem
}

.m-nav .nav-all {
  position: relative;
  width: 2.8rem;
  border-radius: 0.04rem 0.04rem 0 0;
  padding: 0!important;
  text-align: center;
  color: #fff!important
}

.m-nav .nav-all i {
  top: 0.1733rem;
  right: auto;
  bottom: auto;
  left: 0.6rem;
  position: absolute;
  width: 0.24rem;
  height: 0.1867rem;
  background-position: -0.36rem -2.3467rem
}

.m-nav .nav-all:hover {
  height: 0.5067rem!important;
  border: 0!important
}

.m-nav .nav-allsort {
  position: relative;
  margin-right: 0.2667rem
}

.m-nav .nav-allsort .allsort-list {
  top: 0.5333rem;
  right: auto;
  bottom: auto;
  left: 0;
  position: absolute;
  width: 2.8rem;
  height: 5.3333rem;
  background: rgba(250, 250, 250, .9);
  z-index: 10
}

.m-nav .nav-allsort .allsort-list ul {
  position: relative
}

.m-nav .nav-allsort .allsort-list ul.item {
  padding-top: 0.2667rem;
  color: #000;
  padding-bottom: 0.3333rem
}

.m-nav .nav-allsort .allsort-list ul li h3 {
  line-height: 0.44rem;
  float: left;
  display: inline;
  font-size: 0.1867rem
}

.m-nav .nav-allsort .allsort-list ul li h3 a {
  color: #333
}

.m-nav .nav-allsort .allsort-list ul li .item-nav {
  height: 0.6rem;
  line-height: 0.6rem;
  padding: 0 0.2667rem 0 0.3467rem;
  overflow: hidden
}

.m-nav .nav-allsort .allsort-list ul li .item-nav {
  height: 0.44rem;
  line-height: 0.44rem
}

.m-nav .nav-allsort .allsort-list ul li i {
  float: left;
  display: inline;
  margin: 0 0.1333rem 0 0.2rem;
  color: #fff;
  font-family: iconfont!important;
  font-size: 0.2133rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.0027rem;
  -moz-osx-font-smoothing: grayscale
}

.m-nav .nav-allsort .allsort-list .item-li {
  width: 2.8rem;
  vertical-align: top
}

.wdd_style .m-nav .nav-allsort .allsort-list .item-li {
  width: 2.8rem;
  vertical-align: top;
  margin-top: 0.04rem
}

.m-nav .nav-allsort .allsort-list .item-li.hover .item-nav {
  z-index: 12;
  position: relative
}

.m-nav .nav-allsort .allsort-list .item-list {
  display: none;
  position: absolute;
  top: 0;
  width: 10.24rem;
  left: 2.8rem;
  overflow: hidden;
  border: 0.0133rem solid #ddd;
  border-left: none;
  background: #fff
}

.m-nav .nav-allsort .allsort-list .item-list a {
  color: #656565
}

.m-nav .nav-allsort .allsort-list .item-list ul {
  padding: 0.2rem 0.2667rem
}

.m-nav .nav-allsort .allsort-list .item-list h2 {
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.2rem;
  color: #333;
  font-weight: 700;
  float: left;
  width: 1.6rem
}

.m-nav .nav-allsort .allsort-list .item-list .item-list-sub1 {
  float: left;
  display: inline;
  width: 9.9733rem;
  min-height: 4.9333rem
}

.wdd_style .m-nav .nav-allsort .allsort-list .item-list .item-list-img {
  padding: 0.1333rem;
  width: 2.7333rem;
  min-height: 4.9333rem;
  display: inline-block;
  clear: both
}

.wdd_style .m-nav .nav-allsort .allsort-list .item-list .item-list-img li {
  width: 1.2rem;
  height: 0.5333rem;
  float: left;
  margin: 0.08rem 0.0667rem;
  overflow: hidden;
  border: 0.0133rem solid #eee
}

.m-nav .nav-allsort .allsort-list .item-list .item-list-img li img {
  width: 100%;
  height: 100%;
  display: block
}

.m-nav .nav-allsort .allsort-list .item-list .it-l-content {
  width: 100%
}

.m-nav .nav-allsort .allsort-list .item-list .it-l-content a {
  font-size: 0.16rem;
  color: #787878;
  margin-right: 0.1333rem;
  line-height: 0.4rem
}

.m-nav .nav-allsort .allsort-list .item-list .it-l-content a:after {
  content: "|";
  color: #ddd;
  margin-left: 0.1333rem
}

.m-nav .nav-allsort .allsort-list .item-list .it-l-content a:nth-last-child(1):after {
  content: ""
}

.m-nav .nav-allsort .allsort-list .item-list .it-l-content span {
  padding: 0 0.0667rem;
  display: none
}

.tdd_style .m-nav .nav-allsort .allsort-list .item-list .it-l-content a:hover {
  color: #278ff0
}

.m-nav .nav-allsort .allsort-list .item-list .item-ls2 .it-l-content a {
  height: 0.2933rem;
  line-height: 0.2933rem;
  padding: 0 0.1333rem;
  margin: 0.04rem 0.0667rem 0.04rem 0;
  border: 0.0133rem solid #bbb
}

.m-nav .nav-allsort .allsort-list .item-list .item-ls2 .it-l-content a:hover {
  border-color: #ff504c;
  background-color: #ff504c;
  color: #fff
}

.m-nav .nav-allsort .allsort-list .item-list .it-l-content span {
  margin: 0 0.1067rem;
  font-size: 0.1867rem;
  color: #ddd;
  line-height: 0.3333rem
}

.m-nav .nav-allsort .allsort-list .item-list .it-l-line {
  height: 0.0133rem;
  margin: 0.16rem 0;
  clear: both
}

.m-nav .nav-allsort .allsort-list .list_tab ul {
  overflow: hidden
}

.m-nav .nav-allsort .allsort-list .list_tab ul li {
  float: left;
  width: 1.4667rem;
  height: 0.5333rem;
  line-height: 0.5333rem;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  font-size: 0.1867rem;
  color: #000!important;
  background: rgba(71, 71, 71, .1)
}

.m-nav .nav-allsort .allsort-list .list_tab ul li em {
  display: inline-block;
  vertical-align: middle
}

.m-nav .nav-allsort .allsort-list ul li .item-nav span:first-child {
  float: left;
  width: 0.32rem;
  height: 0.32rem;
  vertical-align: middle;
  margin-top: 0.1467rem;
  margin-right: 0.1067rem
}

.tab_hidden {
  display: none
}

.tab_block {
  display: block
}

.service-box {
  height: 0.8667rem;
  background: #278ff0;
  min-width: 15.8667rem
}

.service-box .wrap {
  width: 15.8667rem;
  overflow: hidden
}

.service-box ul {
  width: 16.8rem;
  overflow: hidden
}

.service-box li {
  display: inline-block;
  width: 4.6667rem;
  margin-right: 0.9333rem;
  height: 0.6rem;
  margin-top: 0.1333rem
}

.service-box span {
  display: block;
  width: 0.4533rem;
  height: 0.4533rem;
  margin-right: 0.1333rem
}

/* .service-box .icon1 {
  0 0
}

.service-box .icon2 {
  -0.4533rem 0
}

.service-box .icon3 {
  -0.9067rem 0
} */

.service-box h6, .service-box p {
  color: #fff
}

.service-box h6 {
  font-size: 0.2rem
}

.service-box p {
  font-size: 0.16rem
}

.service {
  background-color: #2f3239
}

.service-box2 {
  background: #2f3239
}

.service-box2 ul {
  width: 16.1333rem;
  min-width: 16.1333rem
}

.service-box2 ul li {
  width: 2.1067rem;
  height: 2rem;
  margin-top: 0.2667rem;
  margin-bottom: 0.2667rem
}

.service-box2 ul li.ewm {
  float: right;
  width: 2.8933rem;
  border: none;
  text-align: center
}

.service-box2 ul li.ewm .ewm_tit {
  width: 2.8933rem;
  text-align: center;
  line-height: 0.64rem;
  font-size: 0.16rem
}

.service-box2 ul li.ewm a {
  margin-top: 0.1867rem
}

.service-box2 ul li.smxz {
  float: right;
  width: 2.6667rem;
  height: 2.6667rem;
  border: 0.0133rem solid #111;
  text-align: center
}

.service-box2 ul li.smxz img {
  margin-bottom: 0.4rem;
  width: 2.2rem
}

.service-box2 ul li.smxz .smxz_tit {
  width: 100%;
  text-align: center
}

.service-box2 ul h6 {
  width: 1.68rem;
  color: #aaa;
  font-size: 0.2133rem;
  display: block;
  line-height: 0.5333rem;
  font-weight: 400;
  margin-bottom: 0.1867rem;
  text-indent: 0.0933rem
}

.service-box2 ul a {
  display: block;
  color: #aaa;
  font-size: 0.16rem;
  line-height: 0.3733rem
}

.service-box2 ul a span {
  padding: 0.0667rem 0.0933rem
}

.service-box2 ul a:hover {
  text-decoration: none
}

.service-box2 ul .ewm-l {
  width: 2.1333rem
}

.service-box2 ul .ewm-l a, .service-box2 ul .ewm-l b, .service-box2 ul .ewm-l span {
  display: block
}

.service-box2 ul .ewm-l b {
  font-size: 0.2rem;
  color: #666
}

.service-box2 ul .ewm-l span {
  font-size: 0.3733rem;
  color: #278ff0;
  font-family: Impact;
  margin: 0.0667rem 0
}

.service-box2 ul .ewm-r {
  float: right;
  display: inline;
  width: 1.44rem
}

.service-box2 ul .ewm-r span {
  display: block;
  padding: 0.0667rem;
  border: 0.0133rem solid #ececec
}

.service-box2 ul .ewm-r p {
  font-size: 0.1867rem;
  color: #666;
  text-align: center;
  line-height: 0.4rem
}

.footer {
  /* background: #2f3239; */
  padding: 0.1333rem 0
}

.footer .wrap {
  width: 16.1333rem;
  position: relative
}

.footer .wrap p {
  text-align: left;
  font-size: 0.16rem;
  color: #aaa;
  line-height: 0.32rem
}

.footer .wrap p a, .footer .wrap p b {
  font-size: 0.16rem;
  display: inline-block
}

.footer .wrap p b {
  color: #333
}

.footer .wrap p a {
  line-height: 0.32rem;
  color: #aaa;
  padding: 0 0.1333rem
}

.footer-img {
  margin-left: -0.0533rem
}

.footer-img img {
  margin: 0.1333rem 0.0667rem 0.4rem 0.0667rem
}

.foot_ewm {
  position: absolute;
  right: 0;
  top: 0.4rem
}

.foot_ewm img {
  width: 1.1067rem;
  height: 1.1333rem
}

.float-l, .float-r {
  position: fixed;
  z-index: 99
}

.float-r {
  right: 0;
  bottom: 2.6667rem
}

.float-r.on {
  display: block
}

.float-r ul {
  height: 2.1733rem
}

.float-r li {
  width: 0.5333rem;
  height: 0.4rem;
  cursor: pointer;
  position: relative;
  background: #fff;
  z-index: 9;
  overflow: hidden;
  border-top: 0.0133rem solid #fff;
  padding: 0.0667rem 0
}

.float-r li:last-child {
  background: #ed7c5e
}

.float-r li span {
  display: block;
  width: 0.3467rem;
  height: 0.3467rem;
  margin: 0 auto
}

/* 
.float-r li .icon0 {
  0 0.04rem
}

.float-r li .icon1 {
  0 -0.52rem
}

.float-r li .icon2 {
  0 -1.0667rem
}

.float-r li .icon3 {
  0 -1.6667rem
}

.float-r li .icon5 {
  0 -2.8267rem
}

.float-r li .icon5:hover {
  -0.48rem -2.8267rem
}

.float-r li .icon4 {
  0 -2.2rem
}

.float-r li .icon0:hover {
  -0.5067rem 0.04rem
}

.float-r li .icon1:hover {
  -0.5067rem -0.52rem
}

.float-r li .icon2:hover {
  -0.5067rem -1.0667rem
}

.float-r li .icon3:hover {
  -0.5067rem -1.6667rem
} */

.float-r li:hover {
  overflow: inherit
}

.float-r li .animat, .float-r li .icon1ct {
  position: absolute;
  top: 0;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  -moz-transition: all ease-in .3s;
  -ms-transition: all ease-in .3s;
  transition: all ease-in .3s
}

.float-r li .animat {
  left: -1.4667rem
}

.float-r li .icon1ct {
  left: -2.2667rem
}

.float-r li b {
  display: block;
  float: left;
  display: inline;
  min-width: 1.0533rem;
  width: auto;
  height: 0.5333rem;
  font-weight: 400;
  color: #fff;
  font-size: 0.16rem;
  line-height: 0.5333rem;
  text-align: center
}

.bdd_style .float-r li b {
  background: #549a3a
}

.wdd_style .float-r li b {
  background: #4ba432
}

.float-r li strong {
  display: block;
  float: left;
  display: inline;
  width: 0;
  height: 0;
  border-top: 0.0667rem solid transparent;
  border-bottom: 0.0667rem solid transparent;
  margin-top: 0.1733rem
}

.float-r li .borderys1 {
  border-left: 0.12rem solid #fff
}

.float-r li:hover .animat {
  opacity: 1;
  left: -1.0533rem
}

.float-r li:hover .icon1ct {
  opacity: 1;
  left: -1.7333rem
}

.float-r li.li4 {
  display: none
}

.float-r .icon1ct {
  height: 2.1733rem
}

.float-r .icon1ct .icon1ct-z {
  background: #fff;
  width: 1.7333rem;
  float: left;
  display: inline;
  padding-bottom: 0.1333rem
}

.float-r .icon1ct img {
  display: block;
  margin: 0.1333rem auto 0.04rem
}

.float-r .icon1ct p {
  text-align: center;
  font-size: 0.16rem
}

.fl {
  float: left
}

.fr {
  float: right
}

#app_body button {
  outline: 0
}

.le {
  float: left
}

.rg {
  float: right
}

.bg_fff {
  background-color: #fff
}

.s_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex
}

.flex_1 {
  -prefix-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.img_set {
  font-size: 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle
}
