#col_gangaotai .ulist {
    border-top: 0
}

#col_gangaotai h4 {
    padding: 10px 0 11px
}

#twms-news {
    margin-top: 21px
}

.mix-ulist li {
    position: relative;
    /* height: 35px;
    line-height: 35px; */
    border-bottom: 1px dotted #ececec;
    background-position: left -265px
}

.mix-ulist li a:link {
    text-align: right;
    font-size: 12px
}

.mix-ulist li img {
    height: 5vw;
}

.mix-ulist li .title {
    white-space: nowrap
}

.mix-ulist li .soure {
    position: absolute;
    right: 0;
    color: #999
}

.mix-ulist li.topic {
    margin: 0;
    padding: 0;
    height: 95px;
    text-align: left;
    background: 0 0
}

.mix-ulist li.topic .in-topic {
    display: block;
    height: 76px;
    padding-right: 10px;
    overflow: hidden;
    background: #f5f5f5
}

.mix-ulist li.topic .in-topic a {
    text-align: left;
    font-size: 14px
}

.mix-ulist li.topic .in-topic a.i-t-title {
    line-height: 20px;
    padding-top: 6px
}

#latest-news {
    padding-top: 7px
}

#latest-news .ulist {
    float: left;
    width: 416px
}

#latest-news .ulist li {
    text-align: right
}

#latest-news .ulist li a {
    float: left
}

#latest-news .ulist li .time {
    font-size: 12px;
    color: #999
}

.olist li {
    height: 26px;
    line-height: 26px;
    overflow: hidden
}

.olist .listnum {
    height: auto;
    width: auto;
    display: inline;
    line-height: auto;
    margin-right: 8px;
    font-size: 16px;
    color: #f63;
    padding: 1px 2px 1px 1px;
    font-style: italic;
    font-family: arial;
    vertical-align: baseline
}

.olist li a {
    font-size: 12px
}

.olist .highlight {
    background: #f63;
    color: #fff
}

#col_local #city_name b {
    font-weight: 400
}

#col_local .loading {
    top: 1200px
}

#change-city {
    margin: 16px 0 0 10px
}

#hot-article li {
    position: relative;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px dotted #ccc
}

#hot-article li .gray {
    color: #666
}

#hot-article {
    margin-top: 21px
}

#hot-article .head-item {
    height: 97px;
    padding: 0;
    background: 0 0;
    border: 0
}

#hot-article .in-top-item {
    display: block;
    position: relative;
    height: 89px;
    border-left: 0 none;
    background: #f5f5f5;
    padding: 12px 20px 10px 34px
}

#hot-article .in-top-item .in-top-item-title {
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    font-family: "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";
    color: #000;
    white-space: nowrap
}

#hot-article .in-top-item .in-top-item-text {
    display: block;
    line-height: 18px;
    font-size: 12px;
    color: #999;
    word-wrap: break-word;
    word-break: break-all
}

#hot-article .in-top-item .in-top-item-decorate {
    position: absolute;
    left: 0;
    top: 0;
    height: 24px;
    line-height: 24px;
    width: 28px;
    background: #f63;
    color: #fff;
    font-size: 16px;
    padding: 1px 2px 1px 1px;
    font-style: italic;
    vertical-align: baseline;
    text-align: center;
    font-family: arial
}

#historical-news {
    margin-top: 9px
}

#historical-news .head-item {
    height: 97px;
    padding: 0;
    background: 0 0
}

#historical-news .in-top-item {
    display: block;
    position: relative;
    height: 97px;
    border-left: 3px solid #ff3e00;
    background: #f5f5f5;
    padding: 10px 24px 10px 22px
}

#historical-news .in-top-item .in-top-item-title {
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    font-family: "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";
    color: #000;
    white-space: nowrap
}

#historical-news .in-top-item .in-top-item-text {
    display: block;
    line-height: 18px;
    font-size: 12px;
    color: #999
}

#focus-videos {
    position: relative;
    zoom: 1;
    margin-top: 12px;
    overflow: hidden
}

#focus-videos .topic {
    height: 76px;
    background: 0 0;
    margin: -1px 0 0;
    padding: 7px 0 8px;
    border-top: 1px dotted #ccc
}

#focus-videos .topic .title {
    padding-top: 12px;
    line-height: 20px
}

.wgt-tab {
    position: relative;
    zoom: 1;
    padding: 1px 0
}

.wgt-tab .wgt-tab-tag {
    position: absolute;
    top: -30px;
    right: 0;
    height: 29px;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
    background: #fff;
    overflow: hidden
}

.wgt-tab .wgt-tab-tag li, .wgt-tab .wgt-tab-tag li a {
    float: left
}

.wgt-tab .wgt-tab-tag li a:link, .wgt-tab .wgt-tab-tag li a:visited {
    width: 80px;
    height: 28px;
    background: #fff;
    font-size: 12px;
    line-height: 28px;
    color: #999;
    text-align: center;
    border-left: 1px solid #ececec;
    border-bottom: 1px solid #ececec
}

.wgt-tab .wgt-tab-tag li.active a {
    border-bottom: 1px solid #fff;
    color: #333;
    text-decoration: none
}

.wgt-tab .wgt-tab-tag li a:hover {
    color: #333
}

.wgt-tab .wgt-tab-ctns {
    padding-top: 20px
}

.table {
    width: 100%;
    margin-top: 10px;
    table-layout: fixed
}

.table th, .table td {
    font-size: 12px;
    border-bottom: 1px dotted #ececec;
    height: 35px;
    text-align: center;
    vertical-align: middle
}

.table th {
    font-weight: 400;
    color: #999
}

.table td {
    color: #000
}

.table td a:link, .table td a:visited {
    color: #000
}

.table td.num {
    font-size: 18px;
    font-style: italic;
    color: #666
}

.table td.highlight {
    color: #ff4e00
}

.b-left .ulist {
    margin-top: -1px;
    margin-bottom: 12px;
    border-top: 1px dotted #ccc
}

#col_toparea {
    margin: 25px 0 26px;
    height: 340px;
    overflow: hidden
}

#instant-news {
    margin-top: 0
}

#top-match {
    float: right;
    height: 340px;
    width: 319px;
    /* background: url(../images/sp_t_l.png) no-repeat */
}

#top-match .top-match-teams {
    padding-top: 40px
}

#top-match .top-match-teams ul {
    overflow: hidden;
    zoom: 1
}

#top-match .top-match-teams ul li.current {
    height: 97px
}

#top-match .top-match-teams ul li.current span {
    line-height: 20px
}

#top-match .top-match-teams ul li.current img {
    height: 35px;
    width: 35px
}

#top-match .top-match-teams ul li {
    height: 40px;
    line-height: 40px;
    padding: 0 34px;
    overflow: hidden
}

#top-match .top-match-teams ul li a {
    font: 400 16px/40px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";
    color: #fff
}

#top-match .top-match-teams ul li a span {
    width: 80px;
    display: inline-block;
    text-align: center
}

#top-match .top-match-teams ul li.current span {
    vertical-align: middle
}

#top-match .top-match-teams ul li a .team-1 {}

#top-match .top-match-teams ul li a .team-2 {}

#top-match .top-match-teams ul li a .time {
    font-size: 14px;
    color: #8ecbeb;
    white-space: nowrap
}

#top-match .top-match-teams ul li.current a .time {
    line-height: 97px
}

.toparea-carousel {
    float: left;
    width: 665px;
    height: 340px;
    overflow: hidden
}

#imgplayer {
    height: 340px;
    width: 665px;
    position: relative;
    right: 0;
    top: 0;
    border: 0;
    overflow: hidden
}

#imgplayer-prev, #imgplayer-next {
    position: absolute;
    width: 60px;
    height: 80px;
    z-index: 89;
    filter: alpha(opacity=30);
    opacity: .3;
    top: 125px;
    overflow: hidden;
    line-height: 10
}

#imgplayer-prev {
    left: 0;
    /* background: url(../images/sp_carousel_ctr_l_38eba11.png) no-repeat left top; */
    border-radius: 0 2px 2px 0
}

#imgplayer-next {
    right: 0;
    /* background: url(../images/sp_carousel_ctr_r_2ad18d0.png) no-repeat right top; */
    border-radius: 2px 0 0 2px
}

#imgplayer-control a:hover {
    filter: alpha(opacity=80);
    opacity: .8
}

.imgview, .imgview img {
    margin: 0;
    width: 665px;
    height: 340px
}

.imgnav {
    position: absolute;
    height: 12px;
    width: 200px;
    right: 18px;
    bottom: 28px;
    z-index: 88;
    overflow: hidden
}

.imgnav a {
    float: right;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    border-radius: 100%;
    overflow: hidden;
    line-height: 10;
    background: #fff
}

.imgnav a:hover, .imgnav a.active {
    background: #1c96d6
}

.imgnav-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 72px;
    background: #000;
    width: 100%;
    z-index: 86;
    filter: alpha(opacity=40);
    opacity: .6
}

.imgtit {
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 16px;
    left: 0;
    border-left: 6px solid #1c96d6;
    padding-left: 18px;
    z-index: 87;
    background: 0 0;
    text-align: left
}

.imgtit a:link, .imgtit a:visited, .imgtit a:hover, .imgtit a:active {
    display: block;
    height: 40px;
    font: 400 12px/18px tahoma;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px
}

.imgtit a strong {
    display: block;
    font: 700 20px/22px "Microsoft YaHei", "微软雅黑", "黑体", tahoma
}

.column-title {
    padding-bottom: 9px;
    text-align: right
}

.column-title-border {
    border-bottom: 1px solid #ececec;
    border-top: 2px solid #c7c7c7;
    height: 52px;
    line-height: 52px
}

.column-title h2 {
    float: left;
    position: relative;
    border-top: 2px solid #069;
    top: -2px;
    line-height: 26px;
    padding: 0 10px 0 0;
    margin-right: 10px;
    /* background: url(../images/top_bg_3e2d110.png) no-repeat right -674px; */
    text-align: left
}

.column-title h2, .column-title h2 a, .column-title h2 a:link, .column-title h2 a:active, .column-title h2 a:visited, .column-title h2 a:hover {
    padding-top: 6px;
    font: 400 22px/26px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";
    color: #069
}

.column-title h2 a {
    padding-right: 5px
}

.column-title h2 .subtitle {
    padding-right: 5px
}

.column-title h2 .cname {
    display: block;
    font: 400 9px/12px arial, sans-serif;
    color: #999;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase
}

.sub-class {
    display: inline-block;
    width: 460px;
    height: 44px;
    padding-right: 25px;
    color: #f0f0f0;
    overflow: hidden
}

.sub-class a:link, .sub-class a:active, .sub-class a:visited, .column-title .more a:link, .column-title .more a:active, .column-title .more a:visited {
    padding: 0 4px;
    color: #666;
    font-size: 16px;
    font-family: "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53"
}

.column-title .more {
    float: right;
    margin-top: 13px
}

.column-title .more a:link {
    display: block;
    height: 25px;
    width: 25px;
    /* background: url(../images/sp_icon_b_more_901577f.png) no-repeat left top; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 10
}

.ilist {
    width: 240px;
    right: 0;
    top: 75px;
    bottom: 0
}

.ilist li, .ilist li img {
    height: 160px;
    width: 240px;
    overflow: hidden
}

.ilist li {
    padding-top: 0;
    margin-bottom: 28px
}

.ilist li img {
    display: block
}

.ilist li a:link, .ilist li a:visited {
    color: #fff
}

.ilist li a:hover {
    text-decoration: none
}

.ilist li a .title {
    position: relative;
    display: block;
    height: 30px;
    margin-top: -30px;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#80000000', EndColorStr='#80000000')
}

.ilist li a b {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: -1px 8px 0;
    /* background: url(../images/sp_icon_m_player_f5c22cd.png) no-repeat; */
    /* *background: 0 0;
    *filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//gss0.bdstatic.com/5foIcy0a2gI2n2jgoY3K/static/fisp_static/guonei/img/mod_ilist/sp_icon_m_player_f5c22cd.png'); */
    vertical-align: middle
}

.in-topic {
    display: block;
    height: 76px;
    overflow: hidden;
    background: #f5f5f5
}

.in-topic .i-t-picture {
    float: left;
    height: 76px;
    width: 114px;
    margin-right: 8px;
    _margin-right: 5px;
    overflow: hidden;
    display: inline
}

.in-topic .i-t-picture img {
    width: 114px;
    height: 76px
}

.in-topic .i-t-title {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    text-align: left
}

.in-topic .i-t-info {
    display: block;
    padding-top: 6px;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    color: #999
}

.b-left {
    width: 385px;
    overflow: hidden;
    /* .ulist {
        margin-top: -1px;
        margin-bottom: 12px;
        border-top: 1px dotted #ccc
    } */
}

.topic {
    position: relative;
    height: 90px;
    margin: 0 0 5px;
    *margin-bottom: 2px;
    background: #f6f7f8;
    overflow: hidden
}

.topic .picture {
    float: left;
    position: relative;
    padding-right: 15px;
    _padding-right: 12px
}

.topic .picture img {
    height: 76px;
    width: 114px
}

.topic .picture .play {
    position: absolute;
    left: 10px;
    bottom: 10px;
    height: 23px;
    width: 23px;
    /* background: url(../images/sp_icon_play_24_8e5b6db.png) no-repeat left center; */
    *background: 0 0;
    *filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//gss0.bdstatic.com/5foIcy0a2gI2n2jgoY3K/static/fisp_static/guonei/img/mod_topic/sp_icon_play_24_8e5b6db.png')
}

.topic .title a:link, .topic .title a:visited {
    font-size: 14px;
    line-height: 22px;
    color: #000
}

.topic .infos a:link, .topic .infos a:visited {
    font-size: 12px;
    color: #bbb
}

#headerwrapper {
    box-shadow: -2px 12px 12px -16px #999
}

.l-left-col {
    position: relative;
    width: 658px
}

.l-left-col .b-left {
    width: 400px;
    float: left
}

.l-left-col .b-right {
    width: 240px;
    float: right
}

.l-middle-col {
    float: left;
    width: 240px;
    margin-right: 20px
}

.l-right-col {
    width: 48%;
    margin: 0 auto;
}

.l-right-col .hd {
    width: 10%;
    margin: 0 auto;
}

.l-right-col .hd .titles {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.column {
    margin-bottom: 36px
}

.l-right-col .image-list-item {
    width: 136px;
    margin-right: 18px
}

.l-right-col .image-list-item img {
    width: 136px;
    height: 90px
}

a:link, .ulist li a:link {
    color: #222;
    -webkit-font-smoothing: antialiased
}

a:visited, .ulist li a:visited {
    color: #222
}

a:hover, .ulist li a:hover {
    color: #900
}

a:active, .ulist li a:active {
    color: #222
}

.mod {
    padding-top: 0;
    border: 0 none
}

.mod .hd {
    padding: 0;
    height: 52px;
    line-height: 52px;
    border-bottom: 1px solid #ececec;
    border-top: 2px solid #c7c7c7;
    overflow: visible
}

.mod .hd h3 {
    position: relative;
    padding-top: 6px;
    border-bottom: 2px solid #069;
    top: -2px;
    padding-right: 5px;
    font: 400 20px/26px "Microsoft YaHei", \5FAE\8F6F\96C5\9ED1, tahoma;
    color: #069;
    background: #fff;
    text-align: left
}

.mod .hd h3 .dec {
    display: block;
    font: 400 9px/12px arial;
    -webkit-font-smoothing: antialiased;
    color: #999;
    text-transform: uppercase
}

.mod .hd h3 .en, .en {
    padding-left: 5px;
    font: 400 14px/18px arial, sans-serif;
    -webkit-font-smoothing: antialiased
}

.mod .hd h3 a:link, .mod .hd h3 a:visited, .mod .hd h3 a:hover {
    color: #069;
    text-decoration: none
}

.mod .hd .more {
    float: right;
    padding-right: 25px;
    margin-top: 15px;
    /* background: url(../images/sp_icon_b_more_901577f.png) #fff no-repeat; */
    height: 25px;
    line-height: 25px;
    color: #999;
    font-size: 12px
}

.mod .line {
    border-top: 1px solid #777
}

.mod .line h3 {
    border-top: 0;
    top: 0
}

.ulist {
    margin-bottom: 4px
}

.ulist li {
    /* background: url(../images/top_bg_3e2d110.png) no-repeat left -270px */
}

.mix-ulist li {
    background-position: left -265px
}

.ulist li a {
    font-size: 14px
}

.mod .ulist li a {
    font-size: 12px
}

.vlist li a {
    margin-bottom: 0
}

.vlist li img {
    border: 0
}

.vlist .video-txt {
    background: #000;
    color: #fff;
    padding: 3px 0
}

.ulist .bold-item {
    padding: 10px 0 3px
}

.ulist .bold-item a {
    font: 700 18px/26px "微软雅黑", tahoma
}

.icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px
}

.icon-hot {
    height: 26px;
    width: 21px;
    /* background: url(../images/top_bg_3e2d110.png) no-repeat left -218px */
}

#col_focus, #col_local, #col_gangaotai, #col_politics {
    height: 427px;
    overflow: hidden
}

#col_focus {
    margin-bottom: 30px
}

.city_view {
    background: #369;
    height: 161px;
    left: 0;
    position: absolute;
    top: 5px;
    visibility: hidden;
    width: 285px;
    z-index: 99
}

.house_view {
    height: 238px
}

.up_triangle {
    display: none;
    /* background: url(../images/top_bg_3e2d110.png) #fff no-repeat left -423px; */
    float: inherit;
    height: 10px;
    left: 30px;
    position: absolute;
    top: -7px;
    width: 10px
}

.view_bg {
    background: #000;
    height: 161px;
    left: 3px;
    position: absolute;
    top: 10px;
    visibility: hidden;
    width: 284px;
    z-index: 98;
    opacity: .5;
    filter: alpha(opacity=50)
}

.house_view_bg {
    height: 238px
}

.btn_close {
    /* background: url(../images/top_bg_3e2d110.png) no-repeat left -392px; */
    float: inherit;
    height: 11px;
    position: absolute;
    right: 3px;
    top: 2px;
    width: 11px
}

.select-btn {
    float: left;
    height: 18px;
    line-height: 18px;
    color: #fff;
    font-size: 12px;
    padding: 0 20px 0 10px;
    /* background: url(../images/top_bg_3e2d110.png) no-repeat 62px -724px; */
    background-color: #369;
    border-right: 5px solid #fff;
    cursor: pointer
}

.select-btn:link, .select-btn:visited, .select-btn:hover {
    color: #fff
}

.loading {
    background: none repeat scroll 0 0 #f6f9fe;
    border: 1px solid #7aa4d6;
    display: none;
    height: 20px;
    left: 50%;
    margin-left: -130px;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 260px
}

.mix-ulist li {
    position: relative;
    /* height: 35px;
    line-height: 35px; */
    border-bottom: 1px dotted #ececec;
    background-position: left -265px
}

.mix-ulist li a:link {
    text-align: right;
    font-size: 12px
}

.mix-ulist li .title {
    white-space: nowrap
}

.mix-ulist li .soure {
    position: absolute;
    right: 0;
    color: #999
}

.mix-ulist li.topic {
    margin: 0;
    padding: 0;
    height: 95px;
    text-align: left;
    background: 0 0
}

.mix-ulist li.topic .in-topic {
    display: block;
    height: 76px;
    padding-right: 10px;
    overflow: hidden;
    background: #f5f5f5
}

.mix-ulist li.topic .in-topic a {
    text-align: left;
    font-size: 14px
}

.mix-ulist li.topic .in-topic a.i-t-title {
    line-height: 20px;
    padding-top: 6px
}

/* @-webkit-keyframes 'scaleimg' {
    frome {
        -webkit-transform: scale(1)
    }
    to {
        -webkit-transform: scale(1.2)
    }
} */

.city_view {
    background: #fff;
    border: 1px solid #d8d8d8;
    width: 356px;
    height: 200px;
    left: 0;
    position: absolute;
    top: 5px;
    visibility: hidden;
    z-index: 99
}

.city_list {
    width: 328px;
    height: 120px;
    padding: 20px 0 20px 28px;
    border-bottom: 1px solid #f2f2f2;
    white-space: nowrap
}

.city_list_1 {
    height: 228px
}

.city_list a:link, .city_list a:visited {
    float: left;
    color: #326699;
    font-size: 12px;
    line-height: 25px;
    padding-right: 22px;
    text-decoration: none
}

.view_bg {
    background: #000;
    height: 161px;
    left: 3px;
    position: absolute;
    top: 10px;
    visibility: hidden;
    width: 284px;
    z-index: 98;
    opacity: .5;
    filter: alpha(opacity=50)
}

.btn_back {
    position: absolute;
    bottom: 10px;
    right: 8px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    color: #326699;
    -webkit-font-smoothing: antialiased
}

.city_view .city-tip {
    position: absolute;
    bottom: 10px;
    left: 28px;
    font-size: 12px;
    color: #999
}