.logistics .banner .ban_wrap, .logistics .banner .ct .banform, .logistics .main .main_wrap, .logistics .ct1 .line_recommend ul li i, .logistics .ct1 .line_recommend ul li a, .logistics .ct2 li div, .logistics .ct2 li div i, .logistics .ct2 li p, .move-into .ct .form-item, .success .ct {
  margin-left: auto;
  margin-right: auto
}

.topbar-body, .topbar-body .menu-bd .menu-bd-panel1 .content1, .topbar-body .menu-bd .menu-bd-panel2, .topbar-body .menu-bd .menu-bd-panel2 .content2-infor2, .header, .hd-search .search-bd .search-result li a, .f-cb, .m-nav .main-nav, .m-nav .nav-allsort .allsort-list ul li .item-nav, .m-nav .nav-allsort .allsort-list .item-list, .resource-nav-side .side-login .side2 ul, .resource-nav-side .side-login .side2 .side2-tab-content .conten, .resource-nav-side .side-login .side2 .side2-logon-content .conten, .banner .bd li a, .service-box ul, .service-box2 ul, .service-box2 ul li.ewm, .fl-ass-wrap .fl-ass-ct, .form-item, .form-field-rc, .form .form-item, .float-r .icon1ct, .logistics .main .main_wrap .tit, .logistics .ct1, .logistics .ct1 .line_recommend ul, .logistics .ct1 .time_data li p, .logistics .ct2 ul, .logistics .contact {
  *zoom: 1
}

.topbar-body:before, .topbar-body .menu-bd .menu-bd-panel1 .content1:before, .topbar-body .menu-bd .menu-bd-panel2:before, .topbar-body .menu-bd .menu-bd-panel2 .content2-infor2:before, .header:before, .hd-search .search-bd .search-result li a:before, .f-cb:before, .m-nav .main-nav:before, .m-nav .nav-allsort .allsort-list ul li .item-nav:before, .m-nav .nav-allsort .allsort-list .item-list:before, .resource-nav-side .side-login .side2 ul:before, .resource-nav-side .side-login .side2 .side2-tab-content .conten:before, .resource-nav-side .side-login .side2 .side2-logon-content .conten:before, .banner .bd li a:before, .service-box ul:before, .service-box2 ul:before, .service-box2 ul li.ewm:before, .fl-ass-wrap .fl-ass-ct:before, .form-item:before, .form-field-rc:before, .form .form-item:before, .float-r .icon1ct:before, .logistics .main .main_wrap .tit:before, .logistics .ct1:before, .logistics .ct1 .line_recommend ul:before, .logistics .ct1 .time_data li p:before, .logistics .ct2 ul:before, .logistics .contact:before, .topbar-body:after, .topbar-body .menu-bd .menu-bd-panel1 .content1:after, .topbar-body .menu-bd .menu-bd-panel2:after, .topbar-body .menu-bd .menu-bd-panel2 .content2-infor2:after, .header:after, .hd-search .search-bd .search-result li a:after, .f-cb:after, .m-nav .main-nav:after, .m-nav .nav-allsort .allsort-list ul li .item-nav:after, .m-nav .nav-allsort .allsort-list .item-list:after, .resource-nav-side .side-login .side2 ul:after, .resource-nav-side .side-login .side2 .side2-tab-content .conten:after, .resource-nav-side .side-login .side2 .side2-logon-content .conten:after, .banner .bd li a:after, .service-box ul:after, .service-box2 ul:after, .service-box2 ul li.ewm:after, .fl-ass-wrap .fl-ass-ct:after, .form-item:after, .form-field-rc:after, .form .form-item:after, .float-r .icon1ct:after, .logistics .main .main_wrap .tit:after, .logistics .ct1:after, .logistics .ct1 .line_recommend ul:after, .logistics .ct1 .time_data li p:after, .logistics .ct2 ul:after, .logistics .contact:after {
  content: "";
  display: table
}

.topbar-body:after, .topbar-body .menu-bd .menu-bd-panel1 .content1:after, .topbar-body .menu-bd .menu-bd-panel2:after, .topbar-body .menu-bd .menu-bd-panel2 .content2-infor2:after, .header:after, .hd-search .search-bd .search-result li a:after, .f-cb:after, .m-nav .main-nav:after, .m-nav .nav-allsort .allsort-list ul li .item-nav:after, .m-nav .nav-allsort .allsort-list .item-list:after, .resource-nav-side .side-login .side2 ul:after, .resource-nav-side .side-login .side2 .side2-tab-content .conten:after, .resource-nav-side .side-login .side2 .side2-logon-content .conten:after, .banner .bd li a:after, .service-box ul:after, .service-box2 ul:after, .service-box2 ul li.ewm:after, .fl-ass-wrap .fl-ass-ct:after, .form-item:after, .form-field-rc:after, .form .form-item:after, .float-r .icon1ct:after, .logistics .main .main_wrap .tit:after, .logistics .ct1:after, .logistics .ct1 .line_recommend ul:after, .logistics .ct1 .time_data li p:after, .logistics .ct2 ul:after, .logistics .contact:after {
  clear: both
}

.banner {
  /* min-width: 253.8672px; */
  height: 85.3328px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  z-index: 1
}

.banner .hd {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  position: absolute;
  width: 100%;
  bottom: 2.1328px;
  text-align: center;
  font-size: 0;
  z-index: 1
}

.banner .hd li {
  *display: inline;
  zoom: 1;
  width: 2.1328px;
  height: 2.1328px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 1.0672px;
  background-color: #FFF;
  opacity: 0.8;
  cursor: pointer
}

.banner .hd .on {
  background-color: #FFD123
}

.banner .bd {
  position: relative;
  height: 100%;
  z-index: 0;
  overflow: hidden
}

.banner .bd li {
  zoom: 1;
  width: 100%;
  height: 85.3328px;
  overflow: hidden;
  vertical-align: middle;
  text-align: center
}

.banner .bd li a {
  height: 85.3328px;
  margin: 0 auto;
  display: inline-block
}

.banner .bd li img {
  display: inline-block;
  float: left;
  vertical-align: middle;
  margin-left: 47.7872px;
  width: 100%;
  height: 85.3328px;
}

.banner .bd img {
  display: block
}

.banner .prev, .banner .next {
  display: none;
  top: 50%;
  right: auto;
  bottom: auto;
  left: auto;
  position: absolute;
  z-index: 10;
  width: 10.6672px;
  height: 14.9328px;
  border-radius: 0.64px;
  margin: -12.8px 0 0;
  /* background: url("imgs/ad_ctr.png") no-repeat 0 0; */
  cursor: pointer;
  text-indent: -2133.12px;
  opacity: 0.2
}

.banner .prev {
  left: 1.0672px;
  background-position: 0 -2.1328px
}

.banner .next {
  right: 1.0672px;
  background-position: -2.1328px -21.3328px
}

.banner .prev:hover, .banner .next:hover {
  opacity: 0.5
}

.msg-box {
  position: relative;
  *zoom: 1
}

.msg-wrap {
  position: relative;
  white-space: nowrap
}

.msg-wrap, .n-icon, .n-msg {
  vertical-align: top
}

.n-default .n-left, .n-default .n-right {
  margin-left: 2.1328px
}

.n-default .n-top .msg-wrap {
  bottom: 100%
}

.n-default .n-bottom .msg-wrap {
  top: 100%
}

.n-default .msg-wrap {
  position: absolute;
  z-index: 1
}

.n-default .msg-wrap .n-icon {
  /* background-image: url("http://static.banksteel.com/member/v3/images/validator_default.png") */
}

.n-default .n-tip .n-icon {
  display: none
}

.form-text, .form-select, .form-raido, .form-checkbox, .form-textarea, .form-file, .formbtn {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: middle
}

.form-item {
  margin-bottom: 5.76px
}

.form-item .form-label {
  float: left;
  display: inline;
  width: 32px;
  height: 6.8272px;
  line-height: 6.8272px;
  text-align: right
}

.form-item .form-label i {
  margin-right: 1.7072px;
  color: #ff4242;
  font-style: normal
}

.form-item .form-label label {
  color: #5b5b5b
}

.form-item .form-field {
  float: left;
  display: inline;
  margin-left: 2.1328px
}

.form-item .form-field input, .form-item .form-field select, .form-item .form-field textarea {
  border: 0.2128px solid #ededed;
  background: #f9f9f9;
  color: #959595;
  font-size: 3.4128px
}

.form-item .form-field .form-text {
  width: 75.52px;
  height: 6.8272px;
  line-height: 6.8272px;
  padding: 0 2.1328px
}

.form-item .form-field .form-select {
  width: 80.2128px;
  height: 7.2528px
}

.form-item .form-field .form-textarea {
  padding: 1.0672px 2.1328px;
  resize: none;
  vertical-align: top;
  overflow: auto;
  width: 75.52px;
  height: 32px
}

.form-item .form-field .form-text:focus, .form-item .form-field .form-textarea:focus {
  outline: 0 none;
  box-shadow: 0 0 0 0.2128px #9edeff
}

.fl {
  float: left
}

.fr {
  float: right
}

.float-r {
  *display: none
}

.fl {
  float: left
}

.fr {
  float: right
}

.logistics {
  min-width: 253.8672px
}

.logistics .banner {
  background: #4183e8 url("https://cdn.toodudu.com/uploads/2019/08/07/wuliubanner.jpg") no-repeat center center;
  min-width: 253.8672px;
  /*banner图的高度是85.3328px的*/
  height: 85.3328px;
  overflow: visible
}

.logistics .banner .ban_wrap {
  width: 253.8672px;
  position: relative;
  height: 84.2672px;
  padding-top: 6.4px
}

.logistics .banner .ban_wrap .ban_btn {
  position: absolute;
  display: block;
  bottom: 12.8px;
  right: 55.4672px;
  width: 36.6928px;
  overflow: hidden
}

.logistics .banner .ban_wrap .ban_btn:after {
  width: 10.6672px;
  height: 9.8128px;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  opacity: 0;
  filter: alpha(opacity=0);
  background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  transition: left 0.3s linear 0s;
  -webkit-transition: left 0.3s linear 0s;
  -moz-transition: left 0.3s linear 0s;
  border-radius: 50%
}

.logistics .banner .ban_wrap .ban_btn:hover:after {
  opacity: 0.5;
  filter: alpha(opacity=5);
  left: 36.6928px
}

.logistics .banner .ct {
  width: 71.04px;
  height: 77.2272px;
  position: relative
}

.logistics .banner .ct .ctbg {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 71.04px;
  height: 77.2272px;
  background: #000;
  opacity: 0.18;
  filter: alpha(opacity=18);
  border-radius: 3.2px
}

.logistics .banner .ct .banform {
  position: absolute;
  z-index: 2;
  left: 2.1328px;
  top: 2.1328px;
  width: 66.7728px;
  height: 72.5328px;
  background: #fff;
  border-radius: 1.0672px;
  color: #565656
}

.logistics .banner .ct h6 {
  height: 10.6672px;
  line-height: 10.6672px;
  background: #ecf4ff;
  font-size: 3.4128px;
  font-weight: bold;
  padding-left: 5.3328px;
  border-radius: 1.0672px 1.0672px 0 0;
  margin-bottom: 4.2672px;
  text-align: left;
}

.logistics .banner .ct .nr {
  float: left;
  display: inline;
  margin: 0px 0 2.9872px 4.2672px;
  position: relative
}

.logistics .banner .ct .nr i {
  display: block;
  float: left;
  width: 5.3328px;
  height: 5.3328px;
  /* background: url(../images/wuliu/wl_ban_icon.png) no-repeat; */
  vertical-align: middle
}

.logistics .banner .ct .nr i.ban-icon1 {
  background-position: 0 0
}

.logistics .banner .ct .nr i.ban-icon2 {
  background-position: -5.3328px 0
}

.logistics .banner .ct .nr i.ban-icon3 {
  background-position: -10.6672px 0
}

.logistics .banner .ct .nr i.ban-icon4 {
  background-position: -16px 0
}

.logistics .banner .ct .nr b {
  display: block;
  float: left;
  font-size: 2.9872px;
  font-weight: normal;
  line-height: 6.4px;
  width: 6.4px
}

.logistics .banner .ct .nr .lj_select_zx {
  width: 36.2672px
}

.logistics .banner .ct .nr .wbtxt, .logistics .banner .ct .nr .deck {
  border: 0.2128px solid #dfdfdf;
  height: 5.9728px;
  width: 36.2672px;
  padding-left: 2.1328px;
  border-radius: 1.0672px;
  font-size: 2.9872px;
  margin-left: 2.1328px
}

.logistics .banner .ct .nr .huan {
  position: absolute;
  display: block;
  width: 3.84px;
  height: 9.3872px;
  top: 4.2672px;
  right: 3.84px;
  cursor: pointer
}

.logistics .banner .ct .nr p {
  font-size: 2.56px;
  color: #b5b5b5;
  margin-left: 13.8672px
}

.logistics .banner .ct .nr .btn1, .logistics .banner .ct .nr .btn2 {
  display: inline-block;
  width: 18.1328px;
  height: 6.4px;
  text-align: center;
  line-height: 6.4px;
  color: #fff;
  border: none;
  font-size: 2.9872px
}

.logistics .banner .ct .nr .btn1 {
  background: #f25555;
  margin: 0 2.1328px 0 13.8672px
}

.logistics .banner .ct .nr .btn2 {
  background: #ff9711
}

.logistics .main {
  background: #f8f8f8;
  min-width: 253.8672px;
  padding-bottom: 6.4px
}

.logistics .main.tc {
  min-width: 106.6672px;
}

.logistics .main .main_wrap {
  width: 66%
}

.logistics .main .main_wrap .tit {
  padding: 6.4px 0 4.2672px 0
}

.logistics .main .main_wrap .tit h6 {
  float: left;
  display: inline;
  color: #595959;
  font-size: 5.12px;
  font-weight: normal
}

.logistics .ct1 .line_recommend {
  width: 181.3328px;
  overflow: hidden;
  float: left;
  display: inline
}

.logistics .ct1 .line_recommend .tit span {
  float: right;
  display: inline;
  width: 14.5072px;
  height: 5.5472px;
  vertical-align: middle
}

.logistics .ct1 .line_recommend .bd {
  padding: 6.4px 0;
  height: 66.1328px;
  background: #fff;
  position: relative
}

.logistics .ct1 .line_recommend .hd i {
  display: block;
  position: absolute;
  z-index: 999;
  cursor: pointer;
  top: 24.7472px;
  width: 4.6928px;
  height: 6.8272px;
  padding: 2.1328px 0 0 1.7072px;
  border-radius: 0.64px;
  background: #b2b2b2
}

.logistics .ct1 .line_recommend .hd i.prev {
  left: 0
}

.logistics .ct1 .line_recommend .hd i.prev b {
  background-position: -4.6928px 0
}

.logistics .ct1 .line_recommend .hd i.next {
  right: 0
}

.logistics .ct1 .line_recommend .hd i.next b {
  background-position: -6.8272px 0
}

.logistics .ct1 .line_recommend .hd b {
  display: block;
  width: 2.1328px;
  height: 4.2672px;
}

.logistics .ct1 .line_recommend ul li {
  float: left;
  display: inline;
  width: 45.2272px;
  /* height: 51.2px; */
  border-right: 0.2128px solid #ededed;
  text-align: center
}

.logistics .ct1 .line_recommend ul li p {
  color: #5b5b5b;
  font-size: 3.4128px
}

.logistics .ct1 .line_recommend ul li i {
  display: block;
  width: 5.3328px;
  height: 5.3328px;
  /* background: url(imgs/wl_ban_icon.png) no-repeat -11.0928px -5.3328px */
}

.logistics .ct1 .line_recommend ul li span, .logistics .ct1 .line_recommend ul li em {
  display: block;
  color: #898989;
  font-size: 2.9872px
}

.logistics .ct1 .line_recommend ul li b {
  display: block;
  color: #e01f10;
  font-size: 3.84px;
  margin-top: 7.4672px
}

.logistics .ct1 .line_recommend ul li em {
  text-decoration: line-through;
  font-style: normal
}

.logistics .ct1 .line_recommend ul li a {
  display: block;
  font-size: 3.84px;
  color: #fff;
  text-align: center;
  line-height: 7.8928px;
  height: 7.8928px;
  width: 29.8672px;
  background: #df3b37;
  border-radius: 1.0672px;
  margin-top: 4.2672px;
}

.logistics .ct1 .line_recommend ul li a:hover {
  text-decoration: none;
}

.logistics .ct1 .time_data {
  width: 64px;
  float: right;
  display: inline
}

.logistics .ct1 .time_data .tit span {
  float: right;
  display: inline;
  color: #858484;
  font-size: 2.9872px;
  line-height: 7.68px
}

.logistics .ct1 .time_data .tit b {
  color: #ff7800;
  font-size: 2.9872px
}

.logistics .ct1 .time_data .bd {
  background: #fff;
  height: 64px;
  overflow: hidden
}

.logistics .ct1 .time_data li {
  *float: left;
  border-bottom: 0.2128px solid #ededed;
  padding: 3.2px 2.56px 3.2px 2.56px;
  height: 9.3872px
}

.logistics .ct1 .time_data li:hover {
  background: #f8f8f8;
  cursor: default
}

.logistics .ct1 .time_data li p {
  font-size: 2.9872px;
  margin: 0;
  padding: 0
}

.logistics .ct1 .time_data li span, .logistics .ct1 .time_data li b, .logistics .ct1 .time_data li em {
  display: block
}

.logistics .ct1 .time_data li span {
  color: #a3a3a3
}

.logistics .ct1 .time_data li b {
  color: #6e6e6e;
  font-weight: normal
}

.logistics .ct1 .time_data li em {
  font-style: normal;
  display: block
}

.logistics .ct1 .time_data li em.em_ys1 {
  color: #ff7800
}

.logistics .ct1 .time_data li em.em_ys2 {
  color: #14ac00
}

.logistics .logistics .ct1 .time_data li {
  *height: 8.5328px
}

.logistics .logistics .ct1 .time_data li {
  _height: 8.5328px
}

.logistics .ct2 ul {
  background: #fff
}

.logistics .ct2 li {
  float: left;
  display: inline;
  width: 50.7728px;
  text-align: center;
  padding: 14.9328px 0
}

.logistics .ct2 li div {
  width: 23.04px;
  height: 23.04px;
  cursor: default;
  position: relative
}

.logistics .ct2 li div:after {
  content: "";
  pointer-events: none;
  position: absolute;
  width: 23.04px;
  height: 23.04px;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
  -moz-transition: -moz-transform 0.2s, opacity 0.3s;
  transition: transform 0.2s, opacity 0.3s
}

.logistics .ct2 li div span {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 16.64px;
  padding: 3.2px;
  height: 16.64px;
  border-radius: 50%
}

.logistics .ct2 li div.icon1:after {
  background: #9ecbfe
}

.logistics .ct2 li div.icon1 span {
  background: #9ecbfe
}

.logistics .ct2 li div.icon1 i {
  background-position: 0 0
}

.logistics .ct2 li div.icon1 i:hover {
  background-position: 0 -15.36px
}

.logistics .ct2 li div.icon2:after {
  background: #fec289
}

.logistics .ct2 li div.icon2 span {
  background: #fec289
}

.logistics .ct2 li div.icon2 i {
  background-position: -14.72px 0
}

.logistics .ct2 li div.icon2 i:hover {
  background-position: -14.72px -15.36px
}

.logistics .ct2 li div.icon3:after {
  background: #fe8a8a
}

.logistics .ct2 li div.icon3 span {
  background: #fe8a8a
}

.logistics .ct2 li div.icon3 i {
  background-position: -30.72px 0
}

.logistics .ct2 li div.icon3 i:hover {
  background-position: -30.72px -15.36px
}

.logistics .ct2 li div.icon4:after {
  background: #68dfc1
}

.logistics .ct2 li div.icon4 span {
  background: #68dfc1
}

.logistics .ct2 li div.icon4 i {
  background-position: -46.08px 0
}

.logistics .ct2 li div.icon4 i:hover {
  background-position: -46.08px -15.36px
}

.logistics .ct2 li div.icon5:after {
  background: #fed689
}

.logistics .ct2 li div.icon5 span {
  background: #fed689
}

.logistics .ct2 li div.icon5 i {
  background-position: -61.0128px 0
}

.logistics .ct2 li div.icon5 i:hover {
  background-position: -61.0128px -15.36px
}

.logistics .ct2 li div i {
  display: block;
  width: 15.36px;
  height: 15.36px;
  /* background: url(imgs/business2.png) no-repeat; */
  transition: .3s
}

.logistics .ct2 li h6 {
  color: #5b5b5b;
  font-size: 3.84px;
  margin: 7.4672px 0 4.2672px 0
}

.logistics .ct2 li p {
  width: 36.2672px;
  font-size: 2.9872px;
  color: #909090;
  line-height: 5.12px
}

.logistics .ct3 {
  display: none
}

.logistics .partners {
  padding: 8.5328px 0 8.5328px 5.3328px;
  background: #fff
}

.logistics .partners a {
  margin-right: 5.76px;
  display: inline-block;
  border-radius: 2.56px
}

.logistics .partners a:hover {
  box-shadow: 0.4272px 0.4272px 1.0672px #e0e0e0
}

.logistics .contact {
  padding: 14.9328px 0 14.9328px 21.3328px;
  background: #fff
}

.logistics .contact .ewm {
  width: 24.1072px;
  float: left;
  display: inline;
  text-align: center;
  line-height: 6.4px
}

.logistics .contact .ewm p {
  font-size: 2.9872px;
  color: #595959
}

.logistics .contact .add {
  margin: 0 8.5328px 0 6.4px
}

.logistics .contact .add p {
  color: #595959;
  font-size: 3.4128px;
  line-height: 7.04px
}

.logistics .contact .partner {
  border-left: 0.2128px solid #e8e8e8;
  margin-left: 10.6672px;
  padding-left: 10.6672px;
  width: 44.8px;
  height: 38.4px
}

.logistics .contact .partner h6 {
  font-size: 3.4128px;
  margin-bottom: 4.2672px;
  color: #595959;
  font-weight: normal
}

.logistics .contact .partner img:hover {
  box-shadow: 0.4272px 0.4272px 1.0672px #e0e0e0
}

@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%)
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%)
  }
  70% {
    opacity: 1
  }
}

@-moz-keyframes toTopFromBottom {
  49% {
    -moz-transform: translateY(-100%)
  }
  50% {
    opacity: 0;
    -moz-transform: translateY(100%)
  }
  70% {
    opacity: 1
  }
}

@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%)
  }
  50% {
    opacity: 0;
    transform: translateY(100%)
  }
  70% {
    opacity: 1
  }
}

.move-into .tit em {
  float: right;
  display: inline;
  font-size: 2.9872px;
  color: #595959;
  font-style: normal
}

.move-into .tit i {
  color: #f25555;
  font-style: normal
}

.move-into .ct {
  padding: 10.6672px;
  background: #fff
}

.move-into .ct button {
  display: block;
  margin: 0 auto;
  width: 39.4672px;
  height: 9.6px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 4.2672px;
  line-height: 9.6px;
  background: #df3b37;
  border-radius: 1.0672px
}

.move-into .ct button:hover {
  opacity: 0.9;
  filter: alpha(opacity=90)
}

.move-into .ct .form-item {
  width: 155.7328px
}

.move-into .ct .form-item label {
  font-size: 3.2px
}

.move-into .ct .form-item .error {
  display: inline-block;
  height: 6.8272px;
  line-height: 6.8272px;
  border: 0.2128px solid #fbc2c4;
  padding: 0 1.7072px 0 6.4px;
  color: #8a1f11;
  background-color: #fbe3e4;
  background-position: 1.7072px 1.7072px
}

.lj_select {
  position: relative;
  display: inline-block;
  float: left
}

.lj_select .area_name {
  position: relative;
  border: solid 0.2128px #ededed;
  width: 71.4672px;
  height: 6.4px;
  line-height: 6.4px;
  padding: 0 4.2672px
}

.lj_select .area_name.area_name_zx {
  width: 34.1328px;
  padding: 0 2.1328px;
  margin-left: 2.1328px;
  border-radius: 1.0672px
}

.lj_select span.arrow {
  width: 2.1328px;
  height: 1.0672px;
  margin-right: 0;
  display: block;
  position: absolute;
  top: 2.56px;
  right: 2.1328px;
  z-index: 2;
  overflow: hidden
}

.lj_select .open .arrow {
  background-position: 0 0
}

.lj_select a {
  text-decoration: none;
  color: #000
}

.lj_select a:visited {
  color: #000
}

.lj_select .items .current {
  color: red;
  font-weight: bold
}

.lj_select .city_content {
  display: none;
  position: absolute;
  left: 0;
  top: 6.8272px;
  width: 80px;
  border: solid 0.2128px #ededed;
  border-top: none;
  z-index: 1000;
  background: #fff
}

.lj_select .city_content.city_content_zx {
  border-top: solid 0.2128px #ededed;
  top: 6.6128px;
  left: 2.1328px
}

.lj_select .city_content .select_tab {
  height: 8.5328px
}

.lj_select .city_content .select_tab a {
  display: inline-block;
  float: left;
  width: 26.4528px;
  height: 8.5328px;
  line-height: 8.5328px;
  text-align: center;
  border-left: solid 0.2128px #ededed;
  border-bottom: solid 0.2128px #ededed;
  background-color: #f9f9f9;
  _display: inline
}

.lj_select .city_content .select_tab .first {
  width: 26.6672px;
  border-left: none
}

.lj_select .city_content .select_tab .current {
  background-color: #fff;
  border-bottom: 0;
  height: 8.7472px
}

.lj_select .city_content .province_list dt {
  width: 5.3328px;
  float: left;
  padding: 0 1.0672px;
  line-height: 4.48px;
  font-weight: 700;
  text-align: right
}

.lj_select .city_content .province_list a {
  display: inline-block;
  color: #4D4D4D;
  padding: 0 2.1328px;
  line-height: 4.48px;
  white-space: nowrap;
  margin: 0 0 1.28px 0
}

.lj_select .city_content .province_list .items {
  width: 68.0528px;
  float: left;
  padding: 0;
  line-height: normal
}

.lj_select .city_content .area_list {
  background: #fff;
  margin: 2.1328px;
  display: none;
  float: left;
  text-align: left
}

.lj_select .city_content .area_list li {
  padding: 0 1.7072px;
  float: left;
  height: 5.12px;
  line-height: 5.12px;
  white-space: nowrap
}

.lj_select .city_content .area_list a:hover {
  color: red
}

.lj_select .city_content .detail_address {
  width: 64.4272px;
  height: 21.3328px
}

.lj_select .city_content .area_val {
  width: 100%;
  height: 5.9728px;
  line-height: 6.4px \9;
  border: 0 none;
  padding: 0;
  margin: 0;
  vertical-align: top
}

.goods-box {
  display: inline-block;
  position: relative
}

.goodsdown {
  display: none;
  position: absolute;
  left: 2.1328px;
  top: 6.4px;
  width: 68.2672px;
  z-index: 999;
  background: #fff;
  border: solid 0.2128px #ededed;
  padding: 2.1328px 0
}

.goodsdown li {
  float: left;
  width: 21.3328px;
  line-height: 6.6128px;
  text-align: center;
  cursor: pointer
}

.goodsdown li:hover {
  color: red
}

.goodstxt {
  float: left;
  border: solid 0.2128px #ededed;
  display: block;
  width: 34.1328px;
  height: 6.4px;
  line-height: 6.4px;
  border-radius: 1.0672px;
  padding: 0 2.1328px;
  margin-left: 2.1328px;
  color: #565656;
  position: relative
}

.goodstxt:hover {
  color: #565656
}

.goodstxt span {
  width: 2.1328px;
  height: 1.0672px;
  margin-right: 0;
  display: block;
  position: absolute;
  top: 2.56px;
  right: 2.1328px;
  z-index: 2;
  overflow: hidden;
}

.goodstxt span.arrow {
  background-position: 0 -3.2px
}

.goodstxt span.open {
  background-position: 0 0
}

.mask {
  display: none;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -moz-user-select: none;
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  opacity: 0.4;
  background: #000
}

/*# sourceMappingURL=wuliu.css.map */
